<div class="col-md-10">
    <div class="card card-user">
        <div class="card-header">
            SurvEnEEr Mailing List
        </div>
        <div class="card-body">
            <table id="contactsTable" class="table">
                <thead class=" text-primary">
                    <tr>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Active</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody class="contactsTableBody"></tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="confirmDeleteContactModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteContactModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header"><h4 class="text-primary"><i class="mr-2 tim-icons icon-alert-circle-exc"></i>Confirm Delete</h4></div>
            <div class="modal-body pt-0 pr-0">
                <p><span class="text-danger font-weight-bold deleteName"></span> and all related information will be deleted. </p>
                <p>This operation can not be rolled back.</p>
                <p>Click <span class="text-danger font-weight-bold">Delete</span> to proceed.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
                <a id="modalDeleteBtn"><button type="button" class="btn btn-sm btn-danger">Delete</button></a>
            </div>
          </div>
        </div>
    </div>

      <div id="updateContactModal" class="modal animated fadeIn" tabindex="-1" role="dialog" aria-labelledby="updateContactModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="col-md-10">
            <div class="modal-content">
            <div class="card mb-0">
                <div class="card-header"><h2 class="title mb-1">Update Contact</h2></div>
            <div class="card-body">
            <form action="/updateContact" id="updateContactForm" method="POST" novalidate>
              <fieldset>
                <div class="row">
                  <div class="col-md-12">
                    <div class="messages text-danger font-weight-bold">{{msg}}</div>
                    <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control mb-1" id="firstName" name="firstName" value="" required>
                      {{#if errors}}
                          {{#each errors}}
                              {{#ifEquals param "firstName"}}
                                  <div class="messages text-danger font-weight-bold">{{msg}}</div>
                              {{/ifEquals}}
                          {{/each}}
                      {{/if}}
                    </div>
                  </div>
                </div>
                    <input type="hidden" class="form-control" id="contactId" name="contactId" value="{{contactId}}" required>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control mb-1" id="lastName" name="lastName" value="" required>
                        {{#if errors}}
                            {{#each errors}}
                                {{#ifEquals param "lastName"}} 
                                    <div class="messages text-danger font-weight-bold">{{msg}}</div>
                                {{/ifEquals}}
                            {{/each}}
                        {{/if}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="email">Email Address</label>
                      <input type="email" class="form-control mb-1" id="email" name="email" value="" required>
                        {{#if errors}}
                            {{#each errors}}
                                {{#ifEquals param "email"}} 
                                    <div class="messages text-danger font-weight-bold">{{msg}}</div>
                                {{/ifEquals}}
                            {{/each}}
                        {{/if}}
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-12 ml-1 mb-3">
                        <div class="form-check form-check-radio form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input activeTrue" type="radio" name="active" id="activeTrue" value="true"> Active
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check form-check-radio form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input activeFalse" type="radio" name="active" id="activeFalse" value="false"> Inactive
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-sm btn-fill btn-primary float-right">Update</button>
                <button type="button" class="btn btn-sm btn-fill btn-primary float-right mr-2" onclick="resetModal()">Cancel</button>
              </fieldset>
            </form>

          </div>
        </div>
      </div>
    </div>
      </div>
    </div>

</div>

<script type="text/javascript">

    function resetModal(){
      $("#updateContactModal").modal('hide');
      $('.messages').text('');
      $('#firstName').val('');
      $('#lastName').val('');
      $('#email').val('');
      $('#contactId').val('');
    }

    $('#updateContactForm').on('submit', ()=>{
      $("#updateContactModal").modal('hide');
      survenaire.showNotification('info', 'top', 'right', 'Contact Info Updated !!');
    });

    $('#modalDeleteBtn').click(function(){
        $('#confirmDeleteContactModal').modal('hide');
        survenaire.showNotification('info', 'top', 'right', 'Contact Deleted !!');
        event.stopImmediatePropagation();
    });

    $('#contactsTable tbody').on('click', '.editContact', function (){
        var $row = $(this).closest('tr');
        var data =  $('#contactsTable').DataTable().row($row).data();
        $('#firstName').val(data.firstName);
        $('#lastName').val(data.lastName);
        $('#email').val(data.email);
        $('#contactId').val(data.contactId);
        if(data.active){ $('input.activeTrue').prop('checked', true); } 
        else { $('input.activeFalse').prop('checked', true); }
        $('#updateContactModal').modal({
            backdrop: false,
            show: true 
        });
    });
    
    $('#contactsTable tbody').on('click', '.deleteContact', function (){
        $('#confirmDeleteContactModal').modal({
            backdrop: false,
            show: true
        });
        var drow = $(this).closest('tr');
        var data = $('#contactsTable').DataTable().row(drow).data();
        $('.deleteName').text(data.firstName.toUpperCase() + ' ' + data.lastName.toUpperCase());
        $('#modalDeleteBtn').attr('href', '/deleteContact/' + data.contactId );
    });
</script>

{{#ifEquals loadJs 'true'}}
<script type="text/javascript">
$(document).ready(function(){

var contactsTable;
    function renderContactsTable(data){
        contactsTable = $('#contactsTable').DataTable({
            dom: "<'row justify-content-between'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-4'f>>" +
                 "<'row'<'col-sm-12'tr>>" +
                 "<'row'<'col-sm-12 col-md-4'i><'col-sm-12 col-md-8'p>>",
            data: data,
            rowId: 'contactId',
            responsive: true,
            columns:[
                {
                    data: null,
                    className: 'Names text-center',
                    render: function(data, type, row, meta){
                        return row.firstName +' '+ row.lastName ;
                    }
                },
                {
                    data: 'email',
                    className: 'email text-center'
                },
                {
                    data: 'active',
                    className: 'active text-center'
                },
                {
                    data: 'contactId',
                    className: 'text-center',
                    render: function(data, type, row){
                        return '<button type="button" rel="tooltip" class="btn btn-info btn-sm btn-icon mr-2 editContact"><i class="tim-icons icon-pencil"></i></button><button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon deleteContact" data-id="'+ data +'" onclick="openDeleteContactModal(`'+ data +'`)"><i class="tim-icons icon-simple-remove"></i></button>';
                    }
                }
            ]
        });
    }

    $.ajax({
        url: '/api/contacts',
        type: 'GET',
        error: function() {
            callback();
        },
        success: function(res) {           
            renderContactsTable(res);
        }
    });

});
</script>
{{/ifEquals}}
