<div class="col-md-8">
    
    <div class="modal fade" id="confirmDeleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteQuestionModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header"><h4 class="text-primary"><i class="mr-2 tim-icons icon-alert-circle-exc"></i>Confirm Delete</h4></div>
            <div class="modal-body pt-0 pr-0"><p><span class="text-danger font-weight-bold">Delete</span> ?? Okay...I hope you know what you're doing.</p></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
                <a id="modalDeleteBtn"><button type="button" class="btn btn-sm btn-danger">Delete</button></a>
            </div>
          </div>
        </div>
    </div>

    <div class="row justify-content-between ml-0 mr-0"> 
        <h2 class="mb-0">Survey Name: {{surveyName}}</h2> 
        <div class="btn-group">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu dropdown-black" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/question/new/{{surveyId}}">Add Question to Survey</a>
                    <a class="dropdown-item" href="/surveys/{{surveyId}}/view">View Survey</a>
                    <a class="dropdown-item" href="/surveys/{{surveyId}}/view2">Respondent View</a>
                </div>
            </div>
        </div>
    </div>
<div class="card">
<div class="card-body">

<div class="row d-none">
    <div class="col-md-12">
        <div class="form-group">
        <input class="form-check-input" type="text" name="SurveyId" id="SurveyId" value={{surveyId}} >
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Name</label>
        <input id="surveyName" name="surveyName" type="text" class="form-control form-control-sm" value="{{surveyName}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Number of Respondents</label>
        <input id="numberOfRespondents" name="numberOfRespondents" type="text" class="form-control form-control-sm" value="{{numberOfRespondents}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Number of Questions</label>
        <input id="numberOfQuestions" name="numberOfQuestions" type="text" class="form-control form-control-sm" value="{{getLength Questions}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Get Respondent Information</label>
        <input id="getId" name="getId" type="text" class="form-control form-control-sm" value="{{getId}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Instructions</label>
        <input id="surveyInstructions" name="surveyInstructions" type="text" class="form-control form-control-sm" value="{{surveyInstructions}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Notes</label>
        <input id="surveyNotes" name="surveyNotes" type="text" class="form-control form-control-sm" value="{{surveyNotes}}" readonly>
        </div>
    </div>
</div>

{{!-- <div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Created At</label>
        <input id="createdAt" name="createdAt" type="text" class="form-control form-control-sm" value="{{createdAt}}" readonly>
        </div>
    </div>
</div> --}}
</div>
</div>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#QuestionSection" id="QuestionTab" data-toggle="tab" role="tab" aria-controls="QuestionSection" aria-selected="true">Questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#ResponseSection" id="ResponseTab" data-toggle="tab" role="tab" aria-controls="ResponseSection" aria-selected="false">Responses</a>
  </li>
</ul>

{{!-- Tab Content --}}
<div class="tab-content">
    <div id="QuestionSection" class="tab-pane fade show active" role="tabpanel" aria-labelledby="Question-tab">
{{#each Questions}}
    <div class="card">
        <div class="card-header pt-1">
            <span class="float-right"><a href="/questions/{{questionId}}/update"><i class="ml-3 tim-icons icon-pencil"></i></a><i onclick="openModal({{questionId}})" class="ml-2 tim-icons icon-trash-simple text-danger" style="cursor: pointer;"></i></span>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Question</label>
                    <input id="question{{questionId}}" name="question" type="text" class="form-control form-control-sm" value="{{question}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Option Type</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{optionType}}" readonly>
                    </div>
                </div>
            </div>
            {{#ifEquals optionType "MultipleChoice"}}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Option 1</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option1}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Option 2</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option2}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Option 3</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option3}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Option 4</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option4}}" readonly>
                    </div>
                </div>
            </div>
            {{/ifEquals}}
            {{#if questionInstruction}}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Instruction</label>
                    <input id="{{questionInstruction}}" name="options" type="text" class="form-control form-control-sm" value="{{questionInstruction}}" readonly>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            <label>No Questions added. Click <a href="/question/new/{{surveyId}}">here</a> to add questions to this survey.</label>
            </div>
        </div>
    </div>
{{/each}}
</div>

{{!-- Response Section --}}
<div id="ResponseSection" class="tab-pane fade" role="tabpanel" aria-labelledby="Response-tab">
    {{#each Respondents}}
    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
    <div class="card card-plain">
        <div class="card-header" role="tab" id="headingOne{{@index}}">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{@index}}" aria-expanded="true" aria-controls="collapseOne{{@index}}">
            {{respondentName}}
                <i class="tim-icons icon-minimal-down"></i>
            </a>
        </div>

        <div id="collapseOne{{@index}}" class="collapse" role="tabpanel" aria-labelledby="headingOne{{@index}}">
        <div id="Respondent{{@index}}" class="card-body">
            <h5>Phone Number: {{respondentPhone}}</h5> 
            <h5>Email Address: {{respondentEmail}}</h5>
            <div class="row">
                <div class="col-md-6 pr-md-1">
                    {{#each ../Questions}} 
                        <h5>{{question}} :  </h5>          
                    {{/each}}
                </div>
                <div class="col-md-6 pr-md-1">
                    {{#each ../Responses}}
                        {{#ifEquals RespondentRespondentId ../respondentId}}              
                            <h5>{{answer}}</h5>
                        {{/ifEquals}} 
                    {{/each}}
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    {{else}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                <label>No responses yet.</label>
                </div>
            </div>
        </div>
    {{/each}}
</div>
{{!-- End Response Section --}}

</div>
{{!-- End Tab Content --}}


</div>
{{!-- End  --}}

<script>
    var openModal  = (questionId) => {
         $('#confirmDeleteQuestionModal').modal({
             backdrop: false
         });
    $('#confirmDeleteQuestionModal').modal('show');
    $('#modalDeleteBtn').attr('href', '/questions/' + questionId + '/delete')
  }
</script>