<div class="col-md-8">
    
    <div class="modal fade" id="confirmDeleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteQuestionModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header"><h4 class="text-primary"><i class="mr-2 tim-icons icon-alert-circle-exc"></i>Confirm Delete</h4></div>
            <div class="modal-body pt-0 pr-0"><p><span class="text-danger font-weight-bold">Delete</span> ?? Okay...I hope you know what you're doing.</p></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
                <a id="modalDeleteBtn"><button type="button" class="btn btn-sm btn-danger">Delete</button></a>
            </div>
          </div>
        </div>
    </div>
    
    <div class="row justify-content-between ml-0 mr-0"> 
        <h2 class="mb-0">Survey Name: {{surveyName}}</h2> 
        <div class="btn-group">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu dropdown-black" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/newQuestion/{{surveyId}}">Add Question to Survey</a>
                    <a class="dropdown-item" href="/viewSurvey/{{surveyId}}">View Survey</a>
                    <a class="dropdown-item" href="/surveys/{{surveyId}}/view2">Respondent View</a>
                </div>
            </div>
        </div>
    </div>
<div class="card">
<div class="card-header pt-1">
    <span class="float-right"><a href="#"><i id="editSurvey" class="ml-3 tim-icons icon-pencil"></i></a></span>
</div>
<div class="card-body">
<form id="updateSurveyForm" class="form" action="/updateSurvey" method="POST" target="updateSurvey_iframe">
<fieldset>
<div class="row d-none">
    <div class="col-md-12">
        <div class="form-group">
        <input class="form-check-input" type="text" name="surveyId" id="SurveyId" value={{surveyId}} >
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Name</label>
        <input id="surveyName" name="surveyName" type="text" class="form-control form-control-sm surveyEditInput" value="{{surveyName}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Number of Respondents</label>
        <input id="numberOfRespondents" type="text" class="form-control form-control-sm" value="{{numberOfRespondents}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Number of Questions</label>
        <input id="numberOfQuestions" type="text" class="form-control form-control-sm" value="{{getLength Questions}}" readonly>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="form-check disabled">
        <label class="form-check-label">Get Respondent Information
        {{#ifEquals getId 0}}
        <input id="getId" name="getId" class="form-check-input surveyEditCheck" type="checkbox" value=false disabled>
        {{else}}
        <input id="getId" name="getId" class="form-check-input surveyEditCheck" type="checkbox" value=true checked disabled>
        {{/ifEquals}}
        <span class="form-check-sign"><span class="check"></span></span>
        </label>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="form-check disabled">
        <label class="form-check-label">Show Terms of Use
        {{#ifEquals showTOU 0}}
        <input id="showTOU" name="showTOU" class="form-check-input surveyEditCheck" type="checkbox" value=false disabled> 
        {{else}} 
        <input id="showTOU" name="showTOU" class="form-check-input surveyEditCheck" type="checkbox" value=true checked disabled> 
        {{/ifEquals}}
        <span class="form-check-sign"><span class="check"></span></span>
        </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Pre Survey Instructions</label>
        <input id="preSurveyInstructions" name="preSurveyInstructions" type="text" class="form-control form-control-sm surveyEditInput" value="{{preSurveyInstructions}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Post Survey Instructions</label>
        <input id="postSurveyInstructions" name="postSurveyInstructions" type="text" class="form-control form-control-sm surveyEditInput" value="{{postSurveyInstructions}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Notes</label>
        <textarea id="surveyNotes" name="surveyNotes" type="text" class="form-control form-control-sm surveyEditInput" readonly>{{surveyNotes}}</textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Terms of Use</label>
        <textarea id="surveyTOU" name="surveyTOU" type="text" class="form-control form-control-sm surveyEditInput" readonly>{{surveyTOU}}</textarea>
        </div>
    </div>
</div>

</div>
<div class="card-footer">
    <button id="surveySaveButton" type="submit" class="btn btn-sm btn-primary d-none float-right">Update</button>
</div>
</fieldset>
</form>
<iframe id="updateSurvey_iframe" name="updateSurvey_iframe" style="display: none;"></iframe>
</div>

<ul class="nav nav-tabs justify-content-center" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#QuestionSection" id="QuestionTab" data-toggle="tab" role="tab" aria-controls="QuestionSection" aria-selected="true">Questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#ResponseSection" id="ResponseTab" data-toggle="tab" role="tab" aria-controls="ResponseSection" aria-selected="false">Responses <span class="ml-1 responseCount">{{getLength Respondents}}</span></a>
  </li>
</ul>

{{!-- Tab Content --}}
<div class="tab-content">
    <div id="QuestionSection" class="tab-pane fade show active" role="tabpanel" aria-labelledby="Question-tab">
{{#each Questions}}
    <div class="card">
        <div class="card-header pt-1">
            <span class="float-right"><a href="/updateQuestion/{{questionId}}"><i class="ml-3 tim-icons icon-pencil"></i></a><i onclick="openModal({{questionId}})" class="ml-2 tim-icons icon-trash-simple text-danger" style="cursor: pointer;"></i></span>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Question</label>
                    <input id="question{{questionId}}" name="question" type="text" class="form-control form-control-sm" value="{{question}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Option Type</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{optionType}}" readonly>
                    </div>
                </div>
            </div>
            {{#ifEquals optionType "MultipleChoice"}}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Option 1</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option1}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Option 2</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option2}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Option 3</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option3}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Option 4</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option4}}" readonly>
                    </div>
                </div>
            </div>
            {{/ifEquals}}
            {{#if questionInstruction}}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Instruction</label>
                    <input id="{{questionInstruction}}" name="options" type="text" class="form-control form-control-sm" value="{{questionInstruction}}" readonly>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            <label>No Questions added. Click <a href="/newQuestion/{{surveyId}}">here</a> to add questions to this survey.</label>
            </div>
        </div>
    </div>
{{/each}}
</div>

{{!-- Response Section --}}
<div id="ResponseSection" class="tab-pane fade" role="tabpanel" aria-labelledby="Response-tab">
    {{#each Respondents}}
    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
    <div class="card card-plain">
        <div class="card-header" role="tab" id="headingOne{{@index}}">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{@index}}" aria-expanded="true" aria-controls="collapseOne{{@index}}">
            {{#if respondentName}} {{respondentName}} {{else}} Respondent {{counter @index}} {{/if}}
                <i class="tim-icons icon-minimal-down"></i>
            </a>
        </div>

        <div id="collapseOne{{@index}}" class="collapse" role="tabpanel" aria-labelledby="headingOne{{@index}}">
        <div id="Respondent{{@index}}" class="card-body">
            {{#ifEquals getId "true"}}
            <h5>Phone Number: {{respondentPhone}}</h5> 
            <h5>Email Address: {{respondentEmail}}</h5>
            {{/ifEquals}}
            <div class="row">
                <div class="col-md-6 pr-md-1">
                    {{#each ../Questions}} 
                        <h5>{{question}}  </h5>          
                    {{/each}}
                </div>
                <div class="col-md-6 pr-md-1">
                    {{#each ../Responses}}
                        {{#ifEquals RespondentRespondentId ../respondentId}}              
                            <h5>{{answer}}</h5>
                        {{/ifEquals}} 
                    {{/each}}
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    {{else}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                <label>No responses yet.</label>
                </div>
            </div>
        </div>
    {{/each}}
</div>
{{!-- End Response Section --}}

</div>
{{!-- End Tab Content --}}


</div>
{{!-- End  --}}

<script>
var openModal  = (questionId) => {
    $('#confirmDeleteQuestionModal').modal({
        backdrop: false
    });
    $('#confirmDeleteQuestionModal').modal('show');
    $('#modalDeleteBtn').attr('href', '/deleteQuestion/' + questionId )
  }

var openSurveyImageModal = (surveyId) => {
    $('#addSurveyImageModal').modal({
            backdrop: false
        });
        $('#addSurveyImageModal').modal('show');
        //$('#addSurveyImageBtn').attr('href', '/addSurveyImage/' + surveyId )
}
</script>

{{#if deleteAlertMessage}}
    <script type="text/javascript">
        $(function () {
            survenaire.showNotification('success', 'top', 'center', 'Question deleted.');
        });
    </script>
{{/if}}

{{#if questionUpdateAlertMessage}}
    <script type="text/javascript">
        $(function () {
            survenaire.showNotification('success', 'top', 'center', 'Question Updated');
        });
    </script>
{{/if}}

{{!-- <script type="text/javascript">
    $(function () {
            // const socket = io();
        const socket = io.connect( 'http://localhost:8080' );
        console.log("Emitted");
        socket.on('news', function (data) {
            console.log(data);
            socket.emit('response', {message: 'New Alert'});
        });
    });
</script> --}}
