<div class="col-md-11">
    
    <div class="modal fade" id="confirmDeleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteQuestionModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header"><h4 class="text-primary"><i class="mr-2 tim-icons icon-alert-circle-exc"></i>Confirm Delete</h4></div>
            <div class="modal-body pt-0 pr-0"><p><span class="text-danger font-weight-bold">Delete</span> ?? Okay...I hope you know what you're doing.</p></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
                <a id="modalDeleteBtn"><button type="button" class="btn btn-sm btn-danger">Delete</button></a>
            </div>
          </div>
        </div>
    </div>
    
    <div class="row justify-content-between ml-0 mr-0"> 
        <h2 class="mb-0">Survey Name: {{surveyName}}</h2> 
        <div class="btn-group">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu dropdown-black" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/newQuestion/{{surveyId}}">Add Question to Survey</a>
                    <a class="dropdown-item" href="/viewSurvey/{{surveyId}}">View Survey</a>
                    <a class="dropdown-item" href="/surveys/{{surveyId}}/view2">Respondent View</a>
                    <a class="dropdown-item" href="/sendSurvey/{{surveyId}}">Share</a>
                </div>
            </div>
        </div>
    </div>
<div class="card">
<div class="card-header pt-1">
    <span class="float-right"><a href="#"><i id="editSurvey" class="ml-3 tim-icons icon-pencil"></i></a></span>
</div>
<div class="card-body">
<form id="updateSurveyForm" class="form" action="/updateSurvey" method="POST" target="updateSurvey_iframe">
<fieldset>
<div class="row d-none">
    <div class="col-md-12">
        <div class="form-group">
        <input class="form-check-input" type="text" name="surveyId" id="SurveyId" value={{surveyId}} >
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Name</label>
        <input id="surveyName" name="surveyName" type="text" class="form-control form-control-sm surveyEditInput" value="{{surveyName}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Number of Recipients</label>
        <input id="numberOfRecipients" type="text" class="form-control form-control-sm" value="{{numberOfRecipients}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Number of Respondents</label>
        <input id="numberOfRespondents" type="text" class="form-control form-control-sm" value="{{numberOfRespondents}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Number of Questions</label>
        <input id="numberOfQuestions" type="text" class="form-control form-control-sm" value="{{getLength Questions}}" readonly>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="form-check disabled">
        <label class="form-check-label">Get Respondent Information
        {{#ifEquals getId 0}}
        <input id="getIdi" name="getIdi" class="form-check-input surveyEditCheck" type="checkbox" value=false disabled>    
        {{else}}
        <input id="getIdi" name="getIdi" class="form-check-input surveyEditCheck" type="checkbox" value=true checked disabled>      
        {{/ifEquals}}
        <span class="form-check-sign"><span class="check"></span></span>
        </label>
        <input id="getId" name="getId" class="form-control form-control-sm" type="hidden" value=>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="form-check disabled">
        <label class="form-check-label">Show Terms of Use
        {{#ifEquals showTOU 0}}
        <input id="showTOUi" name="showTOUi" class="form-check-input surveyEditCheck" type="checkbox" value=false disabled>  
        {{else}} 
        <input id="showTOUi" name="showTOUi" class="form-check-input surveyEditCheck" type="checkbox" value=true checked disabled>
        {{/ifEquals}}
        <span class="form-check-sign"><span class="check"></span></span>
        </label>
        </div>
         <input id="showTOU" name="showTOU" class="form-control form-control-sm" type="hidden" value=> 
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="form-check disabled">
        <label class="form-check-label">Get Email Notifications for new responses
        {{#ifEquals notify 0}}
        <input id="notifyi" name="notifyi" class="form-check-input surveyEditCheck" type="checkbox" value=false disabled>    
        {{else}}
        <input id="notifyi" name="notifyi" class="form-check-input surveyEditCheck" type="checkbox" value=true checked disabled>      
        {{/ifEquals}}
        <span class="form-check-sign"><span class="check"></span></span>
        </label>
        <input id="notify" name="notify" class="form-control form-control-sm" type="hidden" value=>
        </div>
    </div>
</div>

{{#if preSurveyInstructions}}
<div id="preSurveyInstructionsRow" class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Pre Survey Instructions</label>
        <input id="preSurveyInstructions" name="preSurveyInstructions" type="text" class="form-control form-control-sm" value="{{preSurveyInstructions}}" readonly>
        </div>
    </div>
</div>
{{else}}
<div id="preSurveyInstructionsRow" class="row d-none">
    <div class="col-md-12">
        <div class="form-group">
        <label>Pre Survey Instructions</label>
        <input id="preSurveyInstructions" name="preSurveyInstructions" type="text" class="form-control form-control-sm" value="{{preSurveyInstructions}}">
        </div>
    </div>
</div>
{{/if}}

{{#if postSurveyInstructions}}
<div id="postSurveyInstructionsRow" class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Post Survey Instructions</label>
        <input id="postSurveyInstructions" name="postSurveyInstructions" type="text" class="form-control form-control-sm" value="{{postSurveyInstructions}}" readonly>
        </div>
    </div>
</div>
{{else}}
<div id="postSurveyInstructionsRow" class="row d-none">
    <div class="col-md-12">
        <div class="form-group">
        <label>Post Survey Instructions</label>
        <input id="postSurveyInstructions" name="postSurveyInstructions" type="text" class="form-control form-control-sm" value="{{postSurveyInstructions}}">
        </div>
    </div>
</div>
{{/if}}

{{#if surveyNotes}}
<div id="surveyNotesRow" class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Notes</label>
        <textarea id="surveyNotes" name="surveyNotes" type="text" class="form-control form-control-sm" readonly>{{surveyNotes}}</textarea>
        </div>
    </div>
</div>
{{else}}
<div id="surveyNotesRow" class="row d-none">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Notes</label>
        <textarea id="surveyNotes" name="surveyNotes" type="text" class="form-control form-control-sm">{{surveyNotes}}</textarea>
        </div>
    </div>
</div>
{{/if}}

{{#if surveyTOU}}
<div id="surveyTOURow" class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Terms of Use</label>
        <textarea id="surveyTOU" name="surveyTOU" type="text" class="form-control form-control-sm" readonly>{{surveyTOU}}</textarea>
        </div>
    </div>
</div>
{{else}}
<div id="surveyTOURow" class="row d-none">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Terms of Use</label>
        <textarea id="surveyTOU" name="surveyTOU" type="text" class="form-control form-control-sm">{{surveyTOU}}</textarea>
        </div>
    </div>
</div>
{{/if}}

</div>
<div class="card-footer">
    <button id="updateSurveyBtn" type="submit" class="btn btn-sm btn-primary d-none float-right">Update</button>
</div>
</fieldset>
</form>
<iframe id="updateSurvey_iframe" name="updateSurvey_iframe" style="display: none;"></iframe>
</div>

{{!-- Tab Headers --}}
<ul class="nav nav-tabs justify-content-center" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#QuestionSection" id="QuestionTab" data-toggle="tab" role="tab" aria-controls="QuestionSection" aria-selected="true">Questions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#ResponseSection" id="ResponseTab" data-toggle="tab" role="tab" aria-controls="ResponseSection" aria-selected="false">Responses <span class="ml-1 responseCount">{{getLength Respondents}}</span></a>
  </li>
</ul>

{{!-- Tab Content --}}
<div class="tab-content">
    <div id="QuestionSection" class="tab-pane fade show active" role="tabpanel" aria-labelledby="Question-tab">
{{#each Questions}}
    <div class="card">
        <div class="card-header pt-1">
            <span class="float-right"><a href="/updateQuestion/{{questionId}}"><i class="ml-3 tim-icons icon-pencil"></i></a><i onclick="openModal({{questionId}})" class="ml-2 tim-icons icon-trash-simple text-danger" style="cursor: pointer;"></i></span>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Question</label>
                    <input id="question{{questionId}}" data-optionType={{optionType}} name="question" type="text" class="form-control form-control-sm optionCounts" value="{{question}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Option Type</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{optionType}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row chartDiv d-none">
                <div class="col-md-12">
                    {{#ifEquals optionType "YesNo"}}
                        <input type="hidden" name="YesResponseCount" id="q{{counter @index}}YesResponseCount" value="{{YesResponseCount}}">
                        <input type="hidden" name="NoResponseCount" id="q{{counter @index}}NoResponseCount" value="{{NoResponseCount}}">
                        <div class="chart-container" style="position: relative; height: auto;">
                            <canvas id="q{{counter @index}}YesNoResponseChart" width="400" height="120"></canvas>
                        </div>
                    {{/ifEquals}}
                    
                    {{#ifEquals optionType "TrueFalse"}}
                        <input type="hidden" name="TrueResponseCount" id="q{{counter @index}}TrueResponseCount" value="{{TrueResponseCount}}">
                        <input type="hidden" name="FalseResponseCount" id="q{{counter @index}}FalseResponseCount" value="{{FalseResponseCount}}">
                        <div class="chart-container" style="position: relative; height: auto;">
                            <canvas id="q{{counter @index}}TrueFalseResponseChart" width="400" height="120"></canvas>
                        </div>
                    {{/ifEquals}}

                    {{#ifEquals optionType "LikertAgreement"}}
                        <input type="hidden" name="StronglyDisagreeResponseCount" id="q{{counter @index}}StronglyDisagreeResponseCount" value="{{StronglyDisagreeResponseCount}}">
                        <input type="hidden" name="DisagreeResponseCount" id="q{{counter @index}}DisagreeResponseCount" value="{{DisagreeResponseCount}}">
                        <input type="hidden" name="UndecidedResponseCount" id="q{{counter @index}}UndecidedResponseCount" value="{{UndecidedResponseCount}}">
                        <input type="hidden" name="AgreeResponseCount" id="q{{counter @index}}AgreeResponseCount" value="{{AgreeResponseCount}}">
                        <input type="hidden" name="StronglyAgreeResponseCount" id="q{{counter @index}}StronglyAgreeResponseCount" value="{{StronglyAgreeResponseCount}}">
                        <div class="chart-container" style="position: relative; height: auto;">
                            <canvas id="q{{counter @index}}LikertAgreementResponseChart" width="400" height="170"></canvas>
                        </div>
                    {{/ifEquals}}

                    {{#ifEquals optionType "LikertQuality"}}
                        <input type="hidden" name="VeryGoodResponseCount" id="q{{counter @index}}VeryGoodResponseCount" value="{{VeryGoodResponseCount}}">
                        <input type="hidden" name="GoodResponseCount" id="q{{counter @index}}GoodResponseCount" value="{{GoodResponseCount}}">
                        <input type="hidden" name="AcceptableResponseCount" id="q{{counter @index}}AcceptableResponseCount" value="{{AcceptableResponseCount}}">
                        <input type="hidden" name="PoorResponseCount" id="q{{counter @index}}PoorResponseCount" value="{{PoorResponseCount}}">
                        <input type="hidden" name="VeryPoorResponseCount" id="q{{counter @index}}VeryPoorResponseCount" value="{{VeryPoorResponseCount}}">
                        <div class="chart-container" style="position: relative; height: auto;">
                            <canvas id="q{{counter @index}}LikertQualityResponseChart" width="400" height="170"></canvas>
                        </div>
                    {{/ifEquals}}

                    {{#ifEquals optionType "LikertValue"}}
                        <input type="hidden" name="VeryHighResponseCount" id="q{{counter @index}}VeryHighResponseCount" value="{{VeryHighResponseCount}}">
                        <input type="hidden" name="HighResponseCount" id="q{{counter @index}}HighResponseCount" value="{{HighResponseCount}}">
                        <input type="hidden" name="ModerateResponseCount" id="q{{counter @index}}ModerateResponseCount" value="{{ModerateResponseCount}}">
                        <input type="hidden" name="LowResponseCount" id="q{{counter @index}}LowResponseCount" value="{{LowResponseCount}}">
                        <input type="hidden" name="NoneResponseCount" id="q{{counter @index}}NoneResponseCount" value="{{NoneResponseCount}}">
                        <div class="chart-container" style="position: relative; height: auto;">
                            <canvas id="q{{counter @index}}LikertValueResponseChart" width="400" height="170"></canvas>
                        </div>
                    {{/ifEquals}}

                    {{#ifEquals optionType "LikertFrequency"}}
                        <input type="hidden" name="VeryFrequentlyResponseCount" id="q{{counter @index}}VeryFrequentlyResponseCount" value="{{VeryFrequentlyResponseCount}}">
                        <input type="hidden" name="FrequentlyResponseCount" id="q{{counter @index}}FrequentlyResponseCount" value="{{FrequentlyResponseCount}}">
                        <input type="hidden" name="OccasionallyResponseCount" id="q{{counter @index}}OccasionallyResponseCount" value="{{OccasionallyResponseCount}}">
                        <input type="hidden" name="RarelyResponseCount" id="q{{counter @index}}RarelyResponseCount" value="{{RarelyResponseCount}}">
                        <input type="hidden" name="NeverResponseCount" id="q{{counter @index}}NeverResponseCount" value="{{NeverResponseCount}}">
                        <div class="chart-container" style="position: relative; height: auto;">
                            <canvas id="q{{counter @index}}LikertFrequencyResponseChart" width="400" height="170"></canvas>
                        </div>
                    {{/ifEquals}}

                    {{#ifEquals optionType "LikertImportance"}}
                        <input type="hidden" name="VeryImportantResponseCount" id="q{{counter @index}}VeryImportantResponseCount" value="{{VeryImportantResponseCount}}">
                        <input type="hidden" name="ImportantResponseCount" id="q{{counter @index}}ImportantResponseCount" value="{{ImportantResponseCount}}">
                        <input type="hidden" name="ModeratelyImportantResponseCount" id="q{{counter @index}}ModeratelyImportantResponseCount" value="{{ModeratelyImportantResponseCount}}">
                        <input type="hidden" name="SlightlyImportant" id="q{{counter @index}}SlightlyImportant" value="{{SlightlyImportant}}">
                        <input type="hidden" name="NotImportantResponseCount" id="q{{counter @index}}NotImportantResponseCount" value="{{NotImportantResponseCount}}">
                        <div class="chart-container" style="position: relative; height: auto;">
                            <canvas id="q{{counter @index}}LikertImportanceResponseChart" width="400" height="170" style="max-height: 160px;"></canvas>
                        </div>
                    {{/ifEquals}}

                    {{#ifEquals optionType "MultipleChoice"}}
                        <input type="hidden" name="Option1ResponseCount" id="q{{counter @index}}Option1ResponseCount" value="{{option1ResponseCount}}">
                        <input type="hidden" name="Option2ResponseCount" id="q{{counter @index}}Option2ResponseCount" value="{{option2ResponseCount}}">
                        <input type="hidden" name="Option3ResponseCount" id="q{{counter @index}}Option3ResponseCount" value="{{option3ResponseCount}}">
                        <input type="hidden" name="Option4ResponseCount" id="q{{counter @index}}Option4ResponseCount" value="{{option4ResponseCount}}">
                        <div class="chart-container" style="position: relative; height: auto;">
                            <canvas id="q{{counter @index}}MultipleChoiceResponseChart" width="400" height="120"></canvas>
                        </div>
                    {{/ifEquals}}
                </div>
            </div>
            {{#ifEquals optionType "MultipleChoice"}}
                
                <div class="row">
                    {{#if option1}}
                        <div class="col-6 pr-0">
                            <div class="col-md-12 pl-0">
                                <div class="form-group">
                                    <label>Option 1</label>
                                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option1}}" readonly>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    {{#if option2}}
                        <div class="col-6 pl-0">
                            <div class="col-md-12 pr-0">
                                <div class="form-group">
                                    <label>Option 2</label>
                                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option2}}" readonly>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>

                <div class="row">
                    {{#if option3}}
                        <div class="col-6 pl-0">
                            <div class="col-md-12 pr-0">
                                <div class="form-group">
                                <label>Option 3</label>
                                <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option3}}" readonly>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    {{#if option4}}
                        <div class="col-6 pl-0">
                            <div class="col-md-12 pr-0">
                                <div class="form-group">
                                <label>Option 4</label>
                                <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{option4}}" readonly>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </div>

            {{/ifEquals}}
            {{#if questionInstruction}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                        <label>Instruction</label>
                        <input id="{{questionInstruction}}" name="options" type="text" class="form-control form-control-sm" value="{{questionInstruction}}" readonly>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            <label>No Questions added. Click <a href="/newQuestion/{{surveyId}}">here</a> to add questions to this survey.</label>
            </div>
        </div>
    </div>
{{/each}}
</div>

{{!-- Response Section --}}
<div id="ResponseSection" class="tab-pane fade" role="tabpanel" aria-labelledby="Response-tab">
    {{#each Respondents}}
    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
    <div class="card card-plain mb-0">
        <div class="card-header" role="tab" id="headingOne{{@index}}">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{@index}}" aria-expanded="true" aria-controls="collapseOne{{@index}}">
            {{#if respondentName}} {{respondentName}} {{else}} Respondent {{counter @index}} {{/if}}
                <i class="tim-icons icon-minimal-down"></i>
            </a>
        </div>

        <div id="collapseOne{{@index}}" class="collapse" role="tabpanel" aria-labelledby="headingOne{{@index}}">
        <div id="Respondent{{@index}}" class="card-body">
            {{#ifEquals ../getId 1}}
                <h5><span class="title mr-1">Phone Number: </span>{{respondentPhone}}</h5> 
                <h5><span class="title mr-1">Email Address: </span>{{respondentEmail}}</h5>
            {{/ifEquals}}
            <div class="row">
                <div class="col-md-6 pr-md-1">
                    {{#each ../Questions}} 
                        <h5>{{question}}  </h5>          
                    {{/each}}
                </div>
                <div class="col-md-6 pr-md-1">
                    {{#each ../Responses}}
                        {{#ifEquals RespondentRespondentId ../respondentId}}              
                            <h5>{{answer}}</h5>
                        {{/ifEquals}} 
                    {{/each}}
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    {{else}}
        <div id="noResponse" class="row">
            <div class="col-md-12">
                <div class="form-group">
                <label>No responses yet.</label>
                </div>
            </div>
        </div>
    {{/each}}
</div>
{{!-- End Response Section --}}

</div>
{{!-- End Tab Content --}}


</div>
{{!-- End  --}}

<script>
var openModal  = (questionId) => {
    $('#confirmDeleteQuestionModal').modal({
        backdrop: false
    });
    $('#confirmDeleteQuestionModal').modal('show');
    $('#modalDeleteBtn').attr('href', '/deleteQuestion/' + questionId )
  }

    getUserId =()=>{
        return $('#userId').val();
    }

var openSurveyImageModal = (surveyId) => {
    $('#addSurveyImageModal').modal({
            backdrop: false
        });
    $('#addSurveyImageModal').modal('show');
}

    var countValues = [];
    var q1Values = [];
    var charts = [];
    const userRoom = getUserId();
    const socket = io();

function createChart(i, optionType, optionType1, optionType2, optionType3, optionType4, optionType5){
    // if there are no recipients, exit this function else show Chart Div 
    if ( parseInt($('#numberOfRespondents').val()) < 1 ){ return; } else { $('.chartDiv').removeClass('d-none'); }

    //var chartLabels = (optionType3 ? [optionType1, optionType2, optionType3, optionType4, optionType5] : [optionType1, optionType2])
    var chartLabels = [];
    chartData = [];

    if (optionType === 'MultipleChoice'){
        chartLabels = [optionType1, optionType2, optionType3, optionType4];
        chartData.push(parseInt($('#q' + [i+1] + 'Option1ResponseCount').val()));
        chartData.push(parseInt($('#q' + [i+1] + 'Option2ResponseCount').val()));
        chartData.push(parseInt($('#q' + [i+1] + 'Option3ResponseCount').val()));
        chartData.push(parseInt($('#q' + [i+1] + 'Option4ResponseCount').val()));
        chartBgColor = ['#1f8ef1', '#2dce89', '#f96332', '#e14eca'];
    }

    if (optionType.includes('Likert')){
        chartLabels = [optionType1, optionType2, optionType3, optionType4, optionType5];
        chartData.push(parseInt($('#q' + [i+1] + optionType1 + 'ResponseCount').val()));
        chartData.push(parseInt($('#q' + [i+1] + optionType2 + 'ResponseCount').val()));
        chartData.push(parseInt($('#q' + [i+1] + optionType3 + 'ResponseCount').val()));
        chartData.push(parseInt($('#q' + [i+1] + optionType4 + 'ResponseCount').val()));
        chartData.push(parseInt($('#q' + [i+1] + optionType5 + 'ResponseCount').val()));
        chartBgColor = ['#1f8ef1', '#2dce89', '#f5f5f5', '#f96332', '#e14eca'];
    }

    if (optionType.includes('YesNo') || optionType.includes('TrueFalse')) {
        chartLabels = [optionType1, optionType2];
        chartData.push(parseInt($('#q' + [i+1] + optionType1 + 'ResponseCount').val()));
        chartData.push(parseInt($('#q' + [i+1] + optionType2 + 'ResponseCount').val()));
        chartBgColor = ['#1f8ef1', '#2dce89'];
    }
    //console.log(chartLabels);
    countValues.push(chartData);
    charts[i] = new Chart($('#q' + [i+1] + optionType + 'ResponseChart'),{
        type: 'horizontalBar',
        data: 
            { 
                labels: chartLabels,
                datasets: [{ 
                    label: 'Responses Chart',
                    data: chartData,
                    backgroundColor: chartBgColor,
                    borderWidth: 1 
                }],
            },
        options: {
            responsive: true,
            tooltips: {
                bodySpacing: 4,
                mode: "nearest",
                intersect: 0,
                position: "nearest",
                xPadding: 10,
                yPadding: 10,
                caretPadding: 10
            },
            scales: {
            xAxes: [{
                ticks: {
                beginAtZero: true
                }
            }]
            }
        }
    });
}

    $('.optionCounts').each((i)=>{
        var elementId = $('.optionCounts')[i].id;
        if ($('#' + elementId).attr("data-optiontype") == "TrueFalse"){
            createChart(i, 'TrueFalse', 'True', 'False'); // End Chart
        } else if ($('#' + elementId).attr("data-optiontype") == "YesNo"){
            createChart(i, 'YesNo', 'Yes', 'No');
        } else if ($('#' + elementId).attr("data-optiontype") == "LikertAgreement"){
            createChart(i, 'LikertAgreement', 'StronglyDisagree', 'Disagree', 'Undecided', 'Agree', 'StronglyAgree');
        } else if ($('#' + elementId).attr("data-optiontype") == "LikertQuality"){
            createChart(i, 'LikertQuality', 'VeryGood', 'Good', 'Acceptable', 'Poor', 'VeryPoor');
        } else if ($('#' + elementId).attr("data-optiontype") == "LikertValue"){
            createChart(i, 'LikertValue', 'VeryHigh', 'High', 'Moderate', 'Low', 'None');
        } else if ($('#' + elementId).attr("data-optiontype") == "LikertFrequency"){
            createChart(i, 'LikertFrequency', 'VeryFrequently', 'Frequently', 'Occasionally', 'Rarely', 'Never');
        } else if ($('#' + elementId).attr("data-optiontype") == "LikertImportance"){
            createChart(i, 'LikertImportance', 'VeryImportant', 'Important', 'ModeratelyImportant', 'SlightlyImportant', 'NotImportant');
        } else if ($('#' + elementId).attr("data-optiontype") == "MultipleChoice"){
            createChart(i, 'MultipleChoice', 'option1', 'option2', 'option3', 'option4');
        }
    });

    socket.on('connect', function() {
        socket.emit('join room', { solitary: userRoom });
    });

    socket.on('news', function(data) {
        if($('#accordion').length == 0){ $('#noResponse').empty(); }
        $('.responseCount').text(data.message);
        $('#numberOfRespondents').val(data.message);
        $('#ResponseSection').prepend(data.domData);
        for (var i = 0; i < charts.length; i++){
            charts[i].data.datasets[0].data = data.chartData[i];
            charts[i].update();
        }
    });

$(function(){
        if ($('input[name=getIdi]').is(':checked')) {
            // Checkbox is checked..
            $('#getId').val(true);
        } else {
            // Checkbox is not checked..
            $('#getId').val(false);
        }

        if ($('input[name=showTOUi]').is(':checked')) {
            // Checkbox is checked..
            $('#showTOU').val(true);
        } else {
            // Checkbox is not checked..
            $('#showTOU').val(false);
        }

        if ($('input[name=notifyi]').is(':checked')) {
            // Checkbox is checked..
            $('#notify').val(true);
        } else {
            // Checkbox is not checked..
            $('#notify').val(false);
        }
});
    //OnChange Event listener on Checkbox
    $('input[name=getIdi]').change(function() {
        if ($(this).is(':checked')) {
            // Checkbox is checked..
            $('#getId').val(true);
        } else {
            // Checkbox is not checked..
            $('#getId').val(false);
        }
    });

    //OnChange Event listener on Checkbox
    $('input[name=showTOUi]').change(function() {
        if ($(this).is(':checked')) {
            // Checkbox is checked..
            $('#showTOU').val(true);
        } else {
            // Checkbox is not checked..
            $('#showTOU').val(false);
        }
    });

    //OnChange Event listener on Checkbox
    $('input[name=notifyi]').change(function() {
        if ($(this).is(':checked')) {
            // Checkbox is checked..
            $('#notify').val(true);
        } else {
            // Checkbox is not checked..
            $('#notify').val(false);
        }
    });

    $('#updateSurveyBtn').on('click', () => {

        console.log($('#getId').val(), $('#showTOU').val());

        $('#updateSurveyForm').submit();
        $('.surveyEditInput').attr('readonly', true);
        $('#updateSurveyBtn').addClass('d-none');

        $('#editSurvey').removeClass('d-none');
        $('.form-check').addClass('disabled');
        $('.surveyEditCheck').attr('disabled', true);

        if ($('#preSurveyInstructions').val().trim().length > 0){ $('#preSurveyInstructions').attr('readonly', true); } else { $('#preSurveyInstructionsRow').addClass('d-none'); }
        if ($('#postSurveyInstructions').val().trim().length > 0){ $('#postSurveyInstructions').attr('readonly', true); } else { $('#postSurveyInstructionsRow').addClass('d-none'); }
        if ($('#surveyNotes').val().trim().length > 0){ $('#surveyNotes').attr('readonly', true); } else { $('#surveyNotesRow').addClass('d-none'); }
        if ($('#surveyTOU').val().trim().length > 0){ $('#surveyTOU').attr('readonly', true); } else { $('#surveyTOURow').addClass('d-none'); }
    });
//console.log(countValues);
</script>

{{#if deleteAlertMessage}}
    <script type="text/javascript">
        $(function () {
            survenaire.showNotification('success', 'top', 'center', 'Question deleted.');
        });
    </script>
{{/if}}

{{#if questionUpdateAlertMessage}}
    <script type="text/javascript">
        $(function () {
            survenaire.showNotification('success', 'top', 'center', 'Question Updated');
        });
    </script>
{{/if}}
