<div class="col-md-8">
{{#if success}}
    <div class="alert alert-primary" role="alert">{{success}}</div>
{{/if}}
<h2><p>Survey ID: {{id}}</p></h2>
<div class="row d-none">
    <div class="col-md-12">
        <div class="form-group">
        <input class="form-check-input" type="text" name="SurveyId" id="SurveyId" value={{id}} >
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Name</label>
        <input id="surveyName" name="surveyName" type="text" class="form-control form-control-sm" value="{{surveyName}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Get Id</label>
        <input id="getId" name="getId" type="text" class="form-control form-control-sm" value="{{getId}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Notes</label>
        <input id="surveyNotes" name="surveyNotes" type="text" class="form-control form-control-sm" value="{{surveyNotes}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Created At</label>
        <input id="createdAt" name="createdAt" type="text" class="form-control form-control-sm" value="{{createdAt}}" readonly>
        </div>
    </div>
</div>

<h2><p>Questions</p></h2>
{{#each Questions}}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            <label>Question</label><a href="/questions/{{id}}/update"><i class="ml-2 tim-icons icon-pencil"></i></a><a href="/questions/{{id}}/delete"><i class="ml-2 tim-icons icon-trash-simple text-danger"></i></a>
            <input id="question" name="question" type="text" class="form-control form-control-sm" value="{{question}}" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            <label>Options</label>
            <input id="options" name="options" type="text" class="form-control form-control-sm" value="{{options}}" readonly>
            </div>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            <label>No Questions added. Click <a href="/question/new/{{id}}">here</a> to add questions to this survey.</label>
            </div>
        </div>
    </div>
{{/each}}

</div>