<div class="col-md-8">
    
    <div class="modal fade" id="confirmDeleteQuestionModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteQuestionModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header"><h4 class="text-primary"><i class="mr-2 tim-icons icon-alert-circle-exc"></i>Confirm Delete</h4></div>
            <div class="modal-body pt-0 pr-0"><p><span class="text-danger font-weight-bold">Delete</span> ?? Okay...I hope you know what you're doing.</p></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
                <a id="modalDeleteBtn"><button type="button" class="btn btn-sm btn-danger">Delete</button></a>
            </div>
          </div>
        </div>
    </div>

    <div class="row justify-content-between ml-0 mr-0"> 
        <h2 class="mb-0">Survey ID: {{surveyId}}</h2> 
        <div class="btn-group">
            <a class="mr-3" href="/question/new/{{surveyId}}"><button type="button" class="btn btn-sm btn-dark">Add Question</button></a>
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    View Survey
                </a>

                <div class="dropdown-menu dropdown-black" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/surveys/{{surveyId}}/view">View Survey</a>
                    <a class="dropdown-item" href="/surveys/{{surveyId}}/view2">Respondent View</a>
                </div>
            </div>
        </div>
    </div>
<div class="card">
<div class="card-body">

<div class="row d-none">
    <div class="col-md-12">
        <div class="form-group">
        <input class="form-check-input" type="text" name="SurveyId" id="SurveyId" value={{surveyId}} >
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Name</label>
        <input id="surveyName" name="surveyName" type="text" class="form-control form-control-sm" value="{{surveyName}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Get Id</label>
        <input id="getId" name="getId" type="text" class="form-control form-control-sm" value="{{getId}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Survey Notes</label>
        <input id="surveyNotes" name="surveyNotes" type="text" class="form-control form-control-sm" value="{{surveyNotes}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
        <label>Created At</label>
        <input id="createdAt" name="createdAt" type="text" class="form-control form-control-sm" value="{{createdAt}}" readonly>
        </div>
    </div>
</div>
</div>
</div>

<h2 class="mb-0">Questions</h2>
{{#each Questions}}
    <div class="card">
        <div class="card-header pt-1">
            <span class="float-right"><a href="/questions/{{questionId}}/update"><i class="ml-3 tim-icons icon-pencil"></i></a><i onclick="openModal({{questionId}})" class="ml-2 tim-icons icon-trash-simple text-danger" style="cursor: pointer;"></i></span>
        </div>
        <div class="card-body pt-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Question</label>
                    <input id="question{{questionId}}" name="question" type="text" class="form-control form-control-sm" value="{{question}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Options</label>
                    <input id="options{{questionId}}" name="options" type="text" class="form-control form-control-sm" value="{{options}}" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            <label>No Questions added. Click <a href="/question/new/{{surveyId}}">here</a> to add questions to this survey.</label>
            </div>
        </div>
    </div>
{{/each}}

</div>

<script>
    var openModal  = (questionId) => {
         $('#confirmDeleteQuestionModal').modal({
             backdrop: false
         });
    $('#confirmDeleteQuestionModal').modal('show');
    $('#modalDeleteBtn').attr('href', '/questions/' + questionId + '/delete')
  }
</script>