
<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        {{#if surveyImage}} <div><img class="survey-banner" src="../../{{surveyImage}}" ></div> {{/if}}
        <h2><p>Thank you for taking the {{surveyName}} survey.</p></h2>
    </div>
    
    <div class="card-body">
    <form id="surveyForm" action="/responses/{{UserUserId}}" method="POST">
    <div class="messages text-danger font-weight-bold">{{Error}}</div>
    <div class="form-group d-none">
        <input type="text" id="surveyId" name="surveyId" value="{{surveyId}}" />
        <input type="text" id="questionLength" name="questionLength" value="{{getLength Questions}}" />
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Terms & Agreement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{surveyTOU}}
            </div>
            <div class="modal-footer">
                <a href="/complete"><button type="button" class="btn btn-secondary">Decline</button></a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
            </div>
            </div>
        </div>
    </div>

    {{#if preSurveyInstructions}}
    <div class="form-group">
        <blockquote class="blockquote mb-0"><h4>{{preSurveyInstructions}}</h4></blockquote>
    </div>
    {{/if}}
    
    {{#ifEquals getId 1}}
    <div class="row">
        <div class="col-md-4 pr-md-1">
            <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="respondentName" id="respondentName" placeholder="Name" required>
            </div>
        </div>
        <div class="col-md-4 px-md-1">
            <div class="form-group">
            <label>Email Address</label>
            <input type="email" class="form-control" name="respondentEmail" id="respondentEmail" placeholder="Email" required>
            </div>
        </div>
        <div class="col-md-4 pl-md-1">
            <div class="form-group">
            <label>Phone Number</label>
            <input type="number" class="form-control" name="respondentPhone" id="respondentPhone" placeholder="Phone Number" required>
            </div>
        </div>
    </div>
    {{/ifEquals}}

    {{#each Questions}}
        <div class="row">
            <div class="col-md-12 mb-3 qanda">
                <div class="form-group mb-1">
                    <h4>Question {{counter @index}}</h4>
                    <input type="text" name="questionId{{@index}}" id="questionId" class="questionId d-none" value="{{questionId}}" />
                    <p class="question">{{question}}</p>
                </div>

            {{#ifEquals optionType "YesNo"}}
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer{{@index}}" id="{{question}}" value="Yes" required> Yes
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer{{@index}}" id="{{question}}" value="No" required> No
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "TrueFalse"}}
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer{{@index}}" id="{{question}}" value="True" required> True
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer{{@index}}" id="{{question}}" value="False" required> False
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "MultipleChoice"}}
                {{#if option1}}
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input answer" type="radio" id="{{question}}" name="answer{{@index}}" value="{{option1}}" required>
                            {{option1}}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                {{/if}}
                {{#if option2}}
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input answer" type="radio" id="{{question}}" name="answer{{@index}}" value="{{option2}}" required>
                            {{option2}}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                {{/if}}
                {{#if option3}}
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input answer" type="radio" id="{{question}}" name="answer{{@index}}" value="{{option3}}" required>
                            {{option3}}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                {{/if}}
                {{#if option4}}
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input answer" type="radio" id="{{question}}" name="answer{{@index}}" value="{{option4}}" required>
                            {{option4}}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                {{/if}}
            {{/ifEquals}}
            {{#ifEquals optionType "LikertAgreement"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Strongly Disagree" required> Strongly Disagree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Disagree" required> Disagree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Undecided" required> Undecided
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Agree" required> Agree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Strongly Agree" required> Strongly Agree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "LikertQuality"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="VeryGood" required> Very Good
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Good" required> Good
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Acceptable" required> Acceptable
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Poor" required> Poor
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="VeryPoor" required> Very Poor
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "LikertValue"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="High" required> High
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Moderate" required> Moderate
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Low" required> Low
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="None" required> None
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "LikertFrequency"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Strongly Disagree" required> Very Frequently
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Frequently" required> Frequently
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Occasionally" required> Occasionally
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Rarely" required> Rarely
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Very Rarely" required> Very Rarely
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Never" required> Never
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "LikertImportance"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Very Important" required> Very Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Important" required> Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Moderately Important" required> Moderately Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Slightly Important" required> Slightly Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Not Important" required> Not Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "ShortAnswer"}}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Response</label>
                        <textarea rows="4" cols="80" class="form-control answer" id="{{question}}" name="answer{{@index}}" placeholder="Enter Response Here" required></textarea>
                      </div>
                    </div>
                  </div>
            {{/ifEquals}}
            {{#ifEquals optionType "LongAnswer"}}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Response</label>
                        <textarea rows="4" cols="80" class="form-control answer" id="{{question}}" name="answer{{@index}}" placeholder="Enter Response Here" required></textarea>
                      </div>
                    </div>
                  </div>
            {{/ifEquals}}
            </div>
        </div>
    {{else}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                <label>You have no Questions on this survey. Click <a href="/question/new/{{surveyId}}">here</a> to add questions to this survey.</label>
                </div>
            </div>
        </div>
    {{/each}}

    <div class="card-footer mt-3">
        <a href="/mysurveys/{{surveyId}}"><button type="button" class="btn btn-sm btn-fill btn-primary">Go to Survey</button></a>
        <button type="submit" class="btn btn-sm btn-fill btn-primary float-right">Submit</button>
    </div>
    </form>
    </div>
    </div>
</div>

{{!-- <script>
   
var onSubmit = () => {
    var obj = {};
    obj['qanda'] = [];
       $('.answer').each(function(i){ 
       if (this.checked) { 
            obj.qanda.push({ question: this.id, answer: this.value });
        }
    });
    console.log(obj.qanda); //Log Form Values
    $('#surveyForm')[0].reset(); //Reset Survey Form

        //POST FETCH
    fetch('/api/responses', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: obj
    }).then(
        data => console.log(data)
    ).catch(error => console.error(error));


}

</script> --}}