
<div class="col-md-12">
    <div class="card">
    <div class="card-header"><h2><p>Thank you for taking the {{surveyName}} survey.</p></h2></div>
    
    <div class="card-body">
    <form id="surveyForm" action="/responses" method="POST">
    <div class="messages text-danger font-weight-bold">{{Error}}</div>
    <div class="form-group d-none">
        <input type="text" id="surveyId" name="surveyId" value="{{surveyId}}" />
    </div>
    <div class="form-group d-none">
        <input type="text" id="questionLength" name="questionLength" value="{{getLength Questions}}" />
    </div>
    {{#ifEquals getId "true"}}
    <div class="row">
        <div class="col-md-4 pr-md-1">
            <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="respondentName" id="respondentName" placeholder="Name">
            </div>
        </div>
        <div class="col-md-4 px-md-1">
            <div class="form-group">
            <label>Email Address</label>
            <input type="email" class="form-control" name="respondentEmail" id="respondentEmail" placeholder="Email">
            </div>
        </div>
        <div class="col-md-4 pl-md-1">
            <div class="form-group">
            <label>Phone Number</label>
            <input type="number" class="form-control" name="respondentPhone" id="respondentPhone" placeholder="Phone Number">
            </div>
        </div>
    </div>
    {{/ifEquals}}

    {{#each Questions}}
        <div class="row">
            <div class="col-md-12 mb-3 qanda">
                <div class="form-group mb-1">
                    <h4>Question {{counter @index}}</h4>
                    <input type="text" name="questionId{{@index}}" id="questionId" class="questionId d-none" value="{{questionId}}" />
                    <p class="question">{{question}}</p>
                </div>

            {{#ifEquals options "YesNo"}}
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer{{@index}}" id="{{question}}" value="Yes"> Yes
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer{{@index}}" id="{{question}}" value="No"> No
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            {{/ifEquals}}
            {{#ifEquals options "TrueFalse"}}
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer" id="{{question}}" value="True"> True
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer" id="{{question}}" value="False"> False
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            {{/ifEquals}}
            {{#ifEquals options "MultipleChoice"}}
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" id="{{question}}" name="MultipleChoice{{@index}}" value="optionA" >
                        Option A
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" id="{{question}}" name="MultipleChoice{{@index}}" value="optionB" checked>
                        Option B
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" id="{{question}}" name="MultipleChoice{{@index}}" value="optionC" >
                        Option C
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" id="{{question}}" name="MultipleChoice{{@index}}" value="optionD">
                        Option D
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            {{/ifEquals}}
            {{#ifEquals options "LikertAgreement"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertAgreement{{@index}}" id="{{question}}"  value="StronglyDisagree"> Strongly Disagree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertAgreement{{@index}}" id="{{question}}"  value="Disagree"> Disagree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertAgreement{{@index}}" id="{{question}}"  value="Undecided"> Undecided
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertAgreement{{@index}}" id="{{question}}"  value="Agree"> Agree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertAgreement{{@index}}" id="{{question}}"  value="StronglyAgree"> Strongly Agree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals options "LikertQuality"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertQuality{{@index}}" id="{{question}}"  value="VeryGood"> Very Good
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertQuality{{@index}}" id="{{question}}"  value="Good"> Good
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertQuality{{@index}}" id="{{question}}"  value="Acceptable"> Acceptable
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertQuality{{@index}}" id="{{question}}"  value="Poor"> Poor
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertQuality{{@index}}" id="{{question}}"  value="VeryPoor"> Very Poor
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals options "LikertValue"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertValue{{@index}}" id="{{question}}"  value="High"> High
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertValue{{@index}}" id="{{question}}"  value="Moderate"> Moderate
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertValue{{@index}}" id="{{question}}"  value="Low"> Low
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertValue{{@index}}" id="{{question}}"  value="None"> None
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals options "LikertFrequency"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertFrequency{{@index}}" id="{{question}}"  value="StronglyDisagree"> Very Frequently
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertFrequency{{@index}}" id="{{question}}"  value="Frequently"> Frequently
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertFrequency{{@index}}" id="{{question}}"  value="Occasionally"> Occasionally
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertFrequency{{@index}}" id="{{question}}"  value="Rarely"> Rarely
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertFrequency{{@index}}" id="{{question}}"  value="VeryRarely"> Very Rarely
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertFrequency{{@index}}" id="{{question}}"  value="Never"> Never
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals options "LikertImportance"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertImportance{{@index}}" id="{{question}}"  value="VeryImportant"> Very Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertImportance{{@index}}" id="{{question}}"  value="Important"> Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertImportance{{@index}}" id="{{question}}"  value="ModeratelyImportant"> Moderately Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertImportance{{@index}}" id="{{question}}"  value="SlightlyImportant"> Slightly Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="LikertImportance{{@index}}" id="{{question}}"  value="NotImportant"> Not Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals options "ShortAnswer"}}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Response</label>
                        <textarea rows="4" cols="80" class="form-control answer" id="{{question}}" name="ShortAnswer{{@index}}" placeholder="Enter Response Here"></textarea>
                      </div>
                    </div>
                  </div>
            {{/ifEquals}}
            {{#ifEquals options "LongAnswer"}}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Response</label>
                        <textarea rows="8" cols="80" class="form-control answer" id="{{question}}" name="ShortAnswer{{@index}}" placeholder="Enter Response Here"></textarea>
                      </div>
                    </div>
                  </div>
            {{/ifEquals}}
            </div>
        </div>
    {{else}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                <label>You have no Questions on this survey. Click <a href="/question/new/{{surveyId}}">here</a> to add questions to this survey.</label>
                </div>
            </div>
        </div>
    {{/each}}

    <div class="card-footer mt-3">
        <a href="/mysurveys/{{surveyId}}"><button type="button" class="btn btn-sm btn-fill btn-primary">Go to Survey</button></a>
        <button type="submit" class="btn btn-sm btn-fill btn-primary float-right">Submit</button>
    </div>
    </form>
    </div>
    </div>
</div>

{{!-- <script>
   
var onSubmit = () => {
    var obj = {};
    obj['qanda'] = [];
       $('.answer').each(function(i){ 
       if (this.checked) { 
            obj.qanda.push({ question: this.id, answer: this.value });
        }
    });
    console.log(obj.qanda); //Log Form Values
    $('#surveyForm')[0].reset(); //Reset Survey Form

        //POST FETCH
    fetch('/api/responses', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: obj
    }).then(
        data => console.log(data)
    ).catch(error => console.error(error));


}

</script> --}}