<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon.png">
  <title>SurvEnEEr</title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/assets/css/Chart.min.css" rel="stylesheet" />
  <link href="/assets/css/datatables.min.css" rel="stylesheet" />
  <link href="/assets/css/selectize.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo/demo.css" rel="stylesheet" />
  <link href="/assets/css/survey-view.css" rel="stylesheet" />
</head>

<body>
    {{!-- <div class=""> --}}
        <nav class="navbar navbar-expand-lg navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">           
            <a class="navbar-brand" href="#"><i class="tim-icons icon-chart-bar-32 mr-2" style="vertical-align: unset;"></i>{{#if surveyBrandname}} {{surveyBrandname}} {{else}} Surveneer {{/if}}</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="search-bar input-group"></li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
    {{!-- </div> --}}
<div class="col-md-10 container mt-2">
    <div class="card">
    <div class="card-header">
        {{#if surveyImage}} 
            <div><img class="survey-banner" src="../../{{surveyImage}}" ></div> 
        {{!-- {{else}} --}}
            {{!-- <div><img class="survey-banner" src="../../900x150xBanner.jpg" ></div> --}}
        {{/if}}
        <h2 class="pb-0 mb-0">{{surveyName}}</h2>
    </div>
    
    <div class="card-body">
    <form id="surveyForm" action="/responses/{{UserUserId}}" method="POST">
    <div class="messages text-danger font-weight-bold">{{Error}}</div>
    <div class="form-group d-none">
        <input type="text" id="surveyId" name="surveyId" value="{{surveyId}}" />
        <input type="text" id="questionLength" name="questionLength" value="{{getLength Questions}}" />
    </div>

    <div class="modal fade" id="surveyTOUModal" tabindex="-1" role="dialog" aria-labelledby="surveyTOUModalLabel" aria-hidden="true" style="background: #2a2e33;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="surveyTOUModalLabel">Terms & Agreement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{surveyTOU}}
            </div>
            <div class="modal-footer">
                <a href="/complete"><button type="button" class="btn btn-secondary">Decline</button></a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Agree</button>
            </div>
            </div>
        </div>
    </div>

    {{#if preSurveyInstructions}}
    <div class="form-group">
        <blockquote class="blockquote mb-0 pt-2 pb-2"><h5 class="mb-0">{{preSurveyInstructions}}</h5></blockquote>
    </div>
    {{/if}}
    {{#ifEquals getId 1}}
    <div class="row">
        <div class="col-md-4 pr-md-1">
            <div class="form-group">
            <label class="required">Name</label>
            <input type="text" class="form-control mb-0" name="respondentName" id="respondentName" placeholder="Name" required>
            {{#if errors}}
                {{#each errors}}
                    {{#ifEquals param "respondentName"}} 
                        <div class="messages text-danger font-weight-bold">{{msg}}</div>
                    {{/ifEquals}}
                {{/each}}
            {{/if}}
            </div>
        </div>
        <div class="col-md-4 px-md-1">
            <div class="form-group">
            <label class="required">Email Address</label>
            <input type="email" class="form-control mb-0" name="respondentEmail" id="respondentEmail" placeholder="Email" required>
            {{#if errors}}
                {{#each errors}}
                    {{#ifEquals param "respondentEmail"}} 
                        <div class="messages text-danger font-weight-bold">{{msg}}</div>
                    {{/ifEquals}}
                {{/each}}
            {{/if}}
            </div>
        </div>
        <div class="col-md-4 pl-md-1">
            <div class="form-group">
            <label class="required">Phone Number</label>
            <input type="number" class="form-control mb-0" name="respondentPhone" id="respondentPhone" placeholder="Phone Number" required>
            {{#if errors}}
                {{#each errors}}
                    {{#ifEquals param "respondentPhone"}} 
                        <div class="messages text-danger font-weight-bold">{{msg}}</div>
                    {{/ifEquals}}
                {{/each}}
            {{/if}}
            </div>
        </div>
    </div>
    {{/ifEquals}}

    {{#each Questions}}
        <div class="row">
            <div class="col-md-12 mb-3 qanda">
                <div class="form-group mb-1">
                    <h4 class= "{{#ifEquals required true}}required{{/ifEquals}}">Question {{counter @index}}</h4>
                    {{#if questionInstruction}}<h6>Information: {{questionInstruction}}</h6>{{/if}}
                    <input type="text" name="questionId{{@index}}" id="questionId" class="questionId d-none" value="{{questionId}}" />
                    <p class="question">{{question}}</p>
                </div>

            {{#ifEquals optionType "YesNo"}}
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer{{@index}}" id="{{question}}" value="Yes" {{#ifEquals required 1}} required {{/ifEquals}}> Yes
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer{{@index}}" id="{{question}}" value="No" {{#ifEquals required 1}} required {{/ifEquals}}> No
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "TrueFalse"}}
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer{{@index}}" id="{{question}}" value="True" {{#ifEquals required 1}} required {{/ifEquals}}> True
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline mt-0">
                    <label class="form-check-label">
                        <input class="form-check-input answer" type="radio" name="answer{{@index}}" id="{{question}}" value="False" {{#ifEquals required 1}} required {{/ifEquals}}> False
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "StarRating"}}
            <div class="rate">
                <input class="form-check-input answer" type="radio" id="star5" name="answer{{@index}}" value="Star5" {{#ifEquals required 1}} required {{/ifEquals}} />
                <label for="star5" title="5 Stars" class="mr-2">5 Stars</label>
                <input class="form-check-input answer" type="radio" id="star4" name="answer{{@index}}" value="Star4" {{#ifEquals required 1}} required {{/ifEquals}} />
                <label for="star4" title="4 Stars" class="mr-2">4 Stars</label>
                <input class="form-check-input answer" type="radio" id="star3" name="answer{{@index}}" value="Star3" {{#ifEquals required 1}} required {{/ifEquals}} />
                <label for="star3" title="3 Stars" class="mr-2">3 Stars</label>
                <input class="form-check-input answer" type="radio" id="star2" name="answer{{@index}}" value="Star2" {{#ifEquals required 1}} required {{/ifEquals}}/>
                <label for="star2" title="2 Stars" class="mr-2">2 Stars</label>
                <input class="form-check-input answer" type="radio" id="star1" name="answer{{@index}}" value="Star1" {{#ifEquals required 1}} required {{/ifEquals}}/>
                <label for="star1" title="1 Star" class="mr-2">1 Star</label>
            </div>
            {{/ifEquals}}
            {{#ifEquals optionType "NumberRating"}}
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary numberRating"><input type="radio" class="answer" name="answer{{@index}}" id="answer{{@index}}" value="Number1" autocomplete="off" {{#ifEquals required 1}} required {{/ifEquals}}>1</label>
                <label class="btn btn-secondary numberRating"><input type="radio" class="answer" name="answer{{@index}}" id="answer{{@index}}" value="Number2" autocomplete="off" {{#ifEquals required 1}} required {{/ifEquals}}>2</label>
                <label class="btn btn-secondary numberRating"><input type="radio" class="answer" name="answer{{@index}}" id="answer{{@index}}" value="Number3" autocomplete="off" {{#ifEquals required 1}} required {{/ifEquals}}>3</label>
                <label class="btn btn-secondary numberRating"><input type="radio" class="answer" name="answer{{@index}}" id="answer{{@index}}" value="Number4" autocomplete="off" {{#ifEquals required 1}} required {{/ifEquals}}>4</label>
                <label class="btn btn-secondary numberRating"><input type="radio" class="answer" name="answer{{@index}}" id="answer{{@index}}" value="Number5" autocomplete="off" {{#ifEquals required 1}} required {{/ifEquals}}>5</label>
            </div>
            {{/ifEquals}}
            {{#ifEquals optionType "MultipleChoice"}}
                {{#if option1}}
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input answer" type="radio" id="{{question}}" name="answer{{@index}}" value="option1{{option1}}" {{#ifEquals required 1}} required {{/ifEquals}}>
                            {{option1}}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                {{/if}}
                {{#if option2}}
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input answer" type="radio" id="{{question}}" name="answer{{@index}}" value="option2{{option2}}" {{#ifEquals required 1}} required {{/ifEquals}}>
                            {{option2}}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                {{/if}}
                {{#if option3}}
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input answer" type="radio" id="{{question}}" name="answer{{@index}}" value="option3{{option3}}" {{#ifEquals required 1}} required {{/ifEquals}}>
                            {{option3}}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                {{/if}}
                {{#if option4}}
                    <div class="form-check form-check-radio">
                        <label class="form-check-label">
                            <input class="form-check-input answer" type="radio" id="{{question}}" name="answer{{@index}}" value="option4{{option4}}" {{#ifEquals required 1}} required {{/ifEquals}}>
                            {{option4}}
                            <span class="form-check-sign"></span>
                        </label>
                    </div>
                {{/if}}
            {{/ifEquals}}
            {{#ifEquals optionType "LikertAgreement"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="StronglyDisagree" {{#ifEquals required 1}} required {{/ifEquals}}> Strongly Disagree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Disagree" {{#ifEquals required 1}} required {{/ifEquals}}> Disagree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Undecided" {{#ifEquals required 1}} required {{/ifEquals}}> Undecided
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Agree" {{#ifEquals required 1}} required {{/ifEquals}}> Agree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="StronglyAgree" {{#ifEquals required 1}} required {{/ifEquals}}> Strongly Agree
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "LikertQuality"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="VeryGood" {{#ifEquals required 1}} required {{/ifEquals}}> Very Good
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Good" {{#ifEquals required 1}} required {{/ifEquals}}> Good
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Acceptable" {{#ifEquals required 1}} required {{/ifEquals}}> Acceptable
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Poor" {{#ifEquals required 1}} required {{/ifEquals}}> Poor
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="VeryPoor" {{#ifEquals required 1}} required {{/ifEquals}}> Very Poor
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "LikertValue"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="VeryHigh" {{#ifEquals required 1}} required {{/ifEquals}}> Very High
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check form-check-radio form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="High" {{#ifEquals required 1}} required {{/ifEquals}}> High
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check form-check-radio form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Moderate" {{#ifEquals required 1}} required {{/ifEquals}}> Moderate
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check form-check-radio form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Low" {{#ifEquals required 1}} required {{/ifEquals}}> Low
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        <div class="form-check form-check-radio form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="None" {{#ifEquals required 1}} required {{/ifEquals}}> None
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "LikertFrequency"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="VeryFrequently" {{#ifEquals required 1}} required {{/ifEquals}}> Very Frequently
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Frequently" {{#ifEquals required 1}} required {{/ifEquals}}> Frequently
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Occasionally" {{#ifEquals required 1}} required {{/ifEquals}}> Occasionally
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Rarely" {{#ifEquals required 1}} required {{/ifEquals}}> Rarely
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Never" {{#ifEquals required 1}} required {{/ifEquals}}> Never
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "LikertImportance"}}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="VeryImportant" {{#ifEquals required 1}} required {{/ifEquals}}> Very Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="Important" {{#ifEquals required 1}} required {{/ifEquals}}> Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="ModeratelyImportant" {{#ifEquals required 1}} required {{/ifEquals}}> Moderately Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="SlightlyImportant" {{#ifEquals required 1}} required {{/ifEquals}}> Slightly Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="answer{{@index}}" id="{{question}}"  value="NotImportant" {{#ifEquals required 1}} required {{/ifEquals}}> Not Important
                                    <span class="form-check-sign"></span>
                                </label>
                            </div>
                    </div>
                </div>
            {{/ifEquals}}
            {{#ifEquals optionType "ShortAnswer"}}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Response</label>
                        <textarea rows="4" cols="80" maxlength = "100" class="form-control answer" id="{{question}}" name="answer{{@index}}" placeholder="Enter Response Here" {{#ifEquals required 1}} required {{/ifEquals}}></textarea>
                        <span class="mr-2">Length: <span id="shortAnswerCount">0</span>/100</span>
                      </div>
                    </div>
                  </div>
            {{/ifEquals}}
            {{#ifEquals optionType "LongAnswer"}}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Response</label>
                        <textarea rows="8" cols="80" maxlength = "200" class="form-control answer" id="{{question}}" name="answer{{@index}}" placeholder="Enter Response Here" {{#ifEquals required 1}} required {{/ifEquals}}></textarea>
                        <span class="mr-2">Length: <span id="longAnswerCount">0</span>/100</span>
                      </div>
                    </div>
                  </div>
            {{/ifEquals}}
            </div>
        </div>
    {{else}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                <label>You have no Questions on this survey. Click <a href="/question/new/{{surveyId}}">here</a> to add questions to this survey.</label>
                </div>
            </div>
        </div>
    {{/each}}

    <div class="card-footer mt-3">
        <button type="submit" class="btn btn-sm btn-fill btn-primary float-right">Submit</button>
    </div>
    </form>
    </div>
    </div>
</div>
<footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>
            <a href="http://ttejuosho.herokuapp.com" target="_blank">Powered By SurvEneer</a>
          </div>
        </div>
      </footer>
</body>

<!--   Core JS Files   -->
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  {{!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> --}}
  <!-- Chart JS -->
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/black-dashboard.min.js?v=1.0.0"></script>
  <script type="text/javascript" src="/assets/js/selectize.js"></script>
  {{!-- <script type="text/javascript" src="/assets/js/Chart.min.js"></script> --}}
  <script type="text/javascript" src="/assets/js/DataTables/datatables.min.js"></script>
  <script type="text/javascript" src="/assets/js/app.js"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets/demo/demo.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript">
    $('.numberRating').click((e)=>{
        $('.numberRating').removeClass('btn-primary');
        $(e.target).addClass('btn-primary');
    });

    //text Counter Function
    $('textarea').keyup(function () {
        var characterCount = $(this).val().length,
            current = $('#shortAnswerCount');
        current.text(characterCount);
    });
    
    //text Counter Function
    $('textarea').keyup(function () {
        var characterCount = $(this).val().length,
            current = $('#longAnswerCount');
        current.text(characterCount);
    });
    </script>
    {{#ifEquals showTOU true}}
        <script type="text/javascript">
            $(function () {
                $("#surveyTOUModal").modal({
                    backdrop: false,
                    show: true
                });
            });
        </script>
    {{/ifEquals}}
</html>