
<div class="col-md-8">
    <div class="card">
    <div class="card-header"><h2><p>Thank you for taking the {{surveyName}} survey.</p></h2></div>
    
    <div class="card-body">
    <form id="surveyForm" action="/responses" method="POST">
    {{#ifEquals getId "True"}}
    <div class="row">
        <div class="col-md-4 pr-md-1">
            <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="respondentName" id="respondentName" placeholder="Name">
            </div>
        </div>
        <div class="col-md-4 px-md-1">
            <div class="form-group">
            <label>Email Address</label>
            <input type="email" class="form-control" name="respondentEmail" id="respondentEmail" placeholder="Email">
            </div>
        </div>
        <div class="col-md-4 pl-md-1">
            <div class="form-group">
            <label>Phone Number</label>
            <input type="number" class="form-control" name="respondentPhone" id="respondentPhone" placeholder="Phone Number">
            </div>
        </div>
    </div>
    {{/ifEquals}}

    {{#each Questions}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" name="question" id="question" value={{question}} />
                </div>

            {{#ifEquals options "YesNo"}}
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="YesNo{{@index}}" id="Yes" value="Yes"> Yes
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="YesNo{{@index}}" id="No" value="No"> No
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            {{/ifEquals}}
            {{#ifEquals options "TrueFalse"}}
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="answer" id="True" value="True"> True
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="answer" id="False" value="False"> False
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            {{/ifEquals}}
            {{#ifEquals options "MultipleChoice"}}
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="MultipleChoice{{@index}}" value="optionA" >
                        Option A
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="MultipleChoice{{@index}}" value="optionB" checked>
                        Option B
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="MultipleChoice{{@index}}" value="optionC" >
                        Option C
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="MultipleChoice{{@index}}" value="optionD">
                        Option D
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            {{/ifEquals}}
            {{#ifEquals options "ShortAnswer"}}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Response</label>
                        <textarea rows="4" cols="80" class="form-control" name="ShortAnswer{{@index}}" placeholder="Enter Response Here"></textarea>
                      </div>
                    </div>
                  </div>
            {{/ifEquals}}
            {{#ifEquals options "LongAnswer"}}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Response</label>
                        <textarea rows="8" cols="80" class="form-control" name="ShortAnswer{{@index}}" placeholder="Enter Response Here"></textarea>
                      </div>
                    </div>
                  </div>
            {{/ifEquals}}
            </div>
        </div>
    {{else}}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                <label>You have no Questions on this survey. Click <a href="/question/new/{{id}}">here</a> to add questions to this survey.</label>
                </div>
            </div>
        </div>
    {{/each}}

    <div class="card-footer">
        <button type="submit" class="btn btn-fill btn-primary float-right">Submit</button>
    </div>
    </form>
    </div>
    </div>
</div>