<div class="col-md-8">
    <div class="row">
        {{#each survey}}
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">{{id}} Respondents</h5>
                        <h3 class="card-title"><i class="tim-icons icon-bullet-list-67 text-primary"></i><a href="/mysurveys/{{id}}">{{surveyName}}</a></h3>
                    </div>
                    <div class="card-body">
                        <a href="/mysurveys/{{id}}">
                            <div class="chart-area">
                            <canvas id="chartLinePurple"></canvas>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>No surveys here. Click <a href="/survey/new">here</a> to add a new survey.</label>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>