<div class="col-md-12">
    <div class="modal fade" id="confirmDeleteSurveyModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteSurveyModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header"><h4 class="text-primary"><i class="mr-2 tim-icons icon-alert-circle-exc"></i>Confirm Delete</h4></div>
            <div class="modal-body pt-0 pr-0"><p><span class="text-danger font-weight-bold">Delete</span> ?? Okay...I hope you know what you're doing.</p></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
                <a id="deleteSurveyBtn"><button type="button" class="btn btn-sm btn-danger">Delete</button></a>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        {{#each survey}}
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header"> 
                        <i onclick="openModal(`{{surveyId}}`)" class="float-right tim-icons icon-trash-simple text-danger" style="cursor: pointer;"></i>
                        <h3 class="card-title"><i class="tim-icons icon-atom text-primary"></i><a href="/mysurveys/{{surveyId}}">{{surveyName}}</a></h3>
                        <h5 class="card-category"><span id="numberOfQuestions{{counter @index}}">{{numberOfQuestions}}</span> {{#ifEquals numberOfQuestions 1}} Question {{else}} Questions {{/ifEquals}}</h5>
                        <h5 class="card-category"><span id="numberOfRespondents{{counter @index}}">{{numberOfRespondents}}</span> {{#ifEquals numberOfRespondents 1}} Respondent {{else}} Respondents {{/ifEquals}}</h5>
                        <h5 class="card-category"><span id="numberOfRecipients{{counter @index}}">{{numberOfRecipients}}</span> {{#ifEquals numberOfRecipients 1}} Recipient {{else}} Recipients {{/ifEquals}}</h5>
                        <h5>{{mess}}</h5>
                    </div>
                    <div id="surveyData{{counter @index}}" class="card-body pt-0 d-none">
                        <h5 class="card-category text-center" id="responseRatePercentage{{counter @index}}"></h5>
                        <div id="chart{{counter @index}}" class="chart-area">
                            <canvas id="chartLinePurple{{counter @index}}"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>No surveys here. Click <a href="/newSurvey">here</a> to add a new survey.</label>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<script>

function openModal (surveyId) {
    $('#confirmDeleteSurveyModal').modal({
        backdrop: false
    });
    $('#confirmDeleteSurveyModal').modal('show');
    $('#deleteSurveyBtn').attr('href', '/deleteSurvey/' + surveyId)
  }
    var responseRatecharts = [];
    var numberOfSurveys = $('.chart-area').length;
    for (var i = 0; i < numberOfSurveys; i++){
        console.log(i)
        var numberOfRespondents = parseInt($('#numberOfRespondents' + [i+1]).text());
        var numberOfRecipients = parseInt($('#numberOfRecipients' + [i+1]).text());
        var awaitingResponse = numberOfRecipients - numberOfRespondents;
        console.log(numberOfRespondents, numberOfRecipients, awaitingResponse);
    if (numberOfRespondents > 0){
        var data = [numberOfRespondents, awaitingResponse]
        var responseRatePercentage = ((numberOfRespondents/numberOfRecipients)*100).toFixed();
        var ctx = $('#chartLinePurple' + [i+1]);
        $('#responseRatePercentage' + [i+1]).text(responseRatePercentage + '% Response Rate')
        responseRatecharts[i] = new Chart(ctx,
        {
            type: "pie",
            data: {
                labels: ['Received', 'Awaiting'],
                datasets: [{
                    label: responseRatePercentage + "% Response Rate",
                    data: data,
                    backgroundColor: ['#2dce89', '#007bff']
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: []
                }
            }
        });
        $('#surveyData' + [i+1]).removeClass('d-none');
    }
    }

</script>