<div class="col-md-12">
    <div class="card card-user">
        <div class="card-header"><h3 class="title" style="display: contents;">My Contacts</h3> <button id="addRecipient" type="button" rel="tooltip" class="btn btn-info btn-sm btn-icon float-right"><i class="tim-icons icon-simple-add"></i></button></div>
        <div class="card-body">
            <table id="recipientsTable" class="table">
                <thead class=" text-primary">
                    <tr>
                      <th>Id</th>
                      <th>Email Address</th>
                      <th>Name</th>
                      <th>Phone Number</th>
                      <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody class="recipientsTableBody"></tbody>
            </table>
        </div>
    </div>
</div>

<div id="recipientModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="recipientModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="col-md-10">
            <div class="modal-content">
            <div class="card mb-0">
            <div class="card-header"><h2 id="recipientModalTitle" class="title mb-1">Add Recipient</h2></div>
            <div class="card-body">
            <form id="recipientForm" action="/updateRecipient/{{userId}}" method="POST">
              <fieldset>
                <div class="row">
                  <div class="col-md-12">
                    <div class="messages text-danger font-weight-bold">{{msg}}</div>
                    <div class="form-group">
                      <label for="recipientName">Name</label>
                      <input type="text" class="form-control form-control-success mb-1" id="recipientName" name="recipientName" placeholder="Surveneer User" value="" required>
                      {{#if errors}}
                          {{#each errors}}
                              {{#ifEquals param "recipientName"}}
                                  <div class="messages text-danger font-weight-bold">{{msg}}</div>
                              {{/ifEquals}}
                          {{/each}}
                      {{/if}}
                    </div>
                  </div>
                </div>
                <input type="hidden" class="form-control" id="recipientId" name="recipientId" value="{{recipientId}}" required>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="recipientEmail">Email Address</label>
                      <input type="email" class="form-control mb-1" id="recipientEmail" name="recipientEmail" placeholder="contact@surveneer.com" value="" required>
                        {{#if errors}}
                            {{#each errors}}
                                {{#ifEquals param "recipientEmail"}} 
                                    <div class="messages text-danger font-weight-bold">{{msg}}</div>
                                {{/ifEquals}}
                            {{/each}}
                        {{/if}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="recipientPhone">Phone Number</label>
                      <input type="text" class="form-control mb-1" id="recipientPhone" name="recipientPhone" placeholder="555-555-5555" value="" required>
                        {{#if errors}}
                            {{#each errors}}
                                {{#ifEquals param "recipientPhone"}} 
                                    <div class="messages text-danger font-weight-bold">{{msg}}</div>
                                {{/ifEquals}}
                            {{/each}}
                        {{/if}}
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                        <label for="surveyId">Survey</label>
                        <input type="text" class="" id="surveyId" name="surveyId" placeholder="Select" autocomplete="off" value="" required>
                        <small id="surveyHelp" class="form-text text-muted">Associate this contact with a survey</small>
                            {{#if errors}}
                                {{#each errors}}
                                    {{#ifEquals param "surveyId"}}
                                        <div class="messages text-danger font-weight-bold">{{msg}}</div>
                                    {{/ifEquals}}
                                {{/each}}
                            {{/if}}
                        </div>
                    </div>
                </div>
                <button id="recipientSubmitBtn" type="submit" class="btn btn-sm btn-fill btn-primary float-right">Save</button>
                <button type="button" class="btn btn-sm btn-fill btn-primary float-right mr-2" onclick="resetModal()">Cancel</button>
              </fieldset>
            </form>

          </div>
        </div>
      </div>
    </div>
      </div>
</div> {{!-- End Modal --}}

<script type="text/javascript">
var surveysSelectize;
var recipientsTable;

    function resetModal(){
      $('#surveyId')[0].selectize.clear();
      $('.messages').text('');
      $('#recipientId').val('');
      $('#recipientName').val('');
      $('#recipientEmail').val('');
      $('#recipientPhone').val('');
      $("#recipientModal").modal('hide');
      $('#recipientSubmitBtn').removeClass('btn-danger');
      $('#recipientModalTitle').removeClass('text-danger');
      $('#recipientName').attr('disabled', false);
      $('#recipientEmail').attr('disabled', false);
      $('#recipientPhone').attr('disabled', false);
      surveysSelectize[0].selectize.enable();
      $('#surveyHelp').text('Associate this contact with a survey');
      $('#recipientForm').attr('method', 'POST');
    }

// Fetch  Surveys for User and initialize Selectize
  fetch('/api/getusersurveys/' + $('#userId').val())
    .then((res)=>{ return res.json(); })
    .then((data)=>{
      surveysSelectize = $('#surveyId').selectize({
        valueField: 'surveyId',
        labelField: 'surveyName',
        searchField: ['surveyName', 'surveyNotes'],
        maxItems: 1,
        create: false,
        options: data,
        render: function(item, escape){
          return '<div data-value='+ escape(item.surveyId) +'>'+ escape(item.surveyName) +'</div>';
        }
      });
  });


$('#addRecipient').on('click', ()=>{
  // Set Modal Title
  $('#recipientModalTitle').text('Add Recipient');
  $('#recipientSubmitBtn').text('Save').removeClass('btn-danger');
  $('#recipientForm').attr('action', '/newRecipient/' + $('#userId').val());
  // Show Modal
    $('#recipientModal').modal({
      backdrop: false,
      show: true 
    });

  // Clear Selectize
    $('#recipientModal').on('shown.bs.modal', function () {
      $('#surveyId')[0].selectize.clear();
    });
});

function renderRecipientsTable(data){
    recipientsTable = $('#recipientsTable').DataTable({
        dom: "<'row justify-content-between'<'col-sm-12 col-md-2'l><'col-sm-12 col-md-4'f>>" +
              "<'row'<'col-sm-12'tr>>" +
              "<'row'<'col-sm-12 col-md-4'i><'col-sm-12 col-md-8'p>>",
        data: data,
        rowId: 'recipientId',
        responsive: true,
        //rowGroup: {
            //startRender: function(rows, group){ return $('<tr/>').append('<td colspan="7">'+ group +'</td>'); },
                    //dataSrc: 'Survey.surveyName'
                  //},
        columns:[
            {
                data: 'recipientId',
                className: 'recipientId',
                visible: false,
                searchable: false
            },
            {
                data: 'recipientEmail',
                className: 'recipientEmail text-center'
            },
            {
                data: 'recipientName',
                className: 'recipientName text-center'
            },
            {
                data: 'recipientPhone',
                className: 'recipientPhone text-center'
            },
            {
                data: 'recipientId',
                className: 'text-center',
                render: function(data, type, row){
                    return '<button type="button" rel="tooltip" class="btn btn-info btn-sm btn-icon mr-2 editRecipient"><i class="tim-icons icon-pencil"></i></button><button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon deleteRecipient" data-id="'+ data +'"><i class="tim-icons icon-simple-remove"></i></button>';
                }
            }
        ]
    });
}

  $.ajax({
  url: '/api/getRecipients/'+ $('#userId').val(),
  type: 'GET',
  error: function() {
      callback();
  },
  success: function(res) {
    //res.sort(function(a,b) { if (a.Survey.surveyName > b.Survey.surveyName){ return 1 } else { return -1 } });         
      renderRecipientsTable(res);
      }
  });

function prepModal(row, action){
  var $row = row.closest('tr');
  var data =  $('#recipientsTable').DataTable().row($row).data();
  $('#recipientName').val(data.recipientName);
  $('#recipientEmail').val(data.recipientEmail);
  $('#recipientPhone').val(data.recipientPhone);
  $('#recipientId').val(data.recipientId);
  $('#recipientModal').modal({
      backdrop: false,
      show: true 
  });
  
  $('#recipientModal').on('shown.bs.modal', function () {
    $('#surveyId')[0].selectize.setValue(data.SurveySurveyId);
  });

  $('#recipientModalTitle').text(data.recipientEmail);

  if (action == 'edit'){
    $('#recipientSubmitBtn').text('Update').removeClass('btn-danger');
    $('#recipientForm').attr('action', '/updateRecipient/' + $('#recipientId').val());
    //$('#surveyHelp').text('Associate this contact with a survey');
  }

  if (action == 'delete'){
    $('#recipientName').attr('disabled', true);
    $('#recipientEmail').attr('disabled', true);
    $('#recipientPhone').attr('disabled', true);
    surveysSelectize[0].selectize.disable();
    $('#recipientSubmitBtn').text('Delete').addClass('btn-danger');
    $('#recipientModalTitle').addClass('text-danger');
    $('#surveyHelp').text('');
    $('#recipientForm').attr('action', '/deleteRecipient/' + $('#recipientId').val()).attr('method', 'GET');
    //$('#recipientForm').attr('method', "GET");
  }

}
    $('#recipientsTable tbody').on('click', '.editRecipient', function (){
        prepModal($(this), 'edit');
    });

    $('#recipientsTable tbody').on('click', '.deleteRecipient', function (){
        prepModal($(this), 'delete');       
    });

</script>

{{#if successMessage}}
    <script type="text/javascript">
        $(function () {
            survenaire.showNotification('success', 'top', 'center', 'Contact Saved');
        });
    </script>
{{/if}}

{{#if updateSuccess}}
    <script type="text/javascript">
        $(function () {
            survenaire.showNotification('success', 'top', 'center', 'Contact Info Updated');
        });
    </script>
{{/if}}

{{#if deleteSuccess}}
    <script type="text/javascript">
        $(function () {
            survenaire.showNotification('success', 'top', 'center', 'Contact deleted');
        });
    </script>
{{/if}}

{{#if displayModal}}
  <script type="text/javascript">
    $(function () { 
      survenaire.showNotification('danger', 'top', 'center', 'Required fields are missing, please try again');
    });
  </script>
{{/if}}