    <div class="col-md-12">
    <div class="card">
        <div class="card-header">
        <h5 class="title">Add an item to your survey</h5>
        </div>
        <div class="card-body">
        <form id="newQuestionForm" action="/question/new/{{SurveySurveyId}}" method="POST">
        <div class="messages text-danger font-weight-bold">{{error}}</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Question</label>
                    <textarea id="question" name="question" rows="2" cols="80" class="form-control" placeholder=""></textarea>
                    <div class="messages text-danger font-weight-bold">{{questionError}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Options</label>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="options" value="YesNo" checked>
                                Yes/No
                                <span class="form-check-sign"></span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="options" value="TrueFalse" >
                                True/False
                                <span class="form-check-sign"></span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="options" value="ShortAnswer" >
                                Short Answer
                                <span class="form-check-sign"></span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="options" value="LongAnswer" >
                                Long Answer
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        
                        <div id="LikertOptionDiv" class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="LikertOption" value="Likert">
                                Likert-type
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scales)</small>
                        </div>

<div id="LikertMoreOptions" class="d-none">
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input LikertAgreement" type="radio" name="options" id="options" value="LikertAgreement">
                                Likert - Agreement
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scale: Strongly Agree to Strongly Disagree)</small>
                        </div>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="options" value="LikertQuality">
                                Likert - Quality
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scale: Very Good to Very Poor)</small>
                        </div>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="options" value="LikertValue">
                                Likert - Value
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scale: High to None.)</small>
                        </div>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="options" value="LikertFrequency">
                                Likert - Frequency
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scale: Very Frequently to Never)</small>
                        </div>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="options" value="LikertImportance">
                                Likert - Important
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scale: Very Important to Not Important)</small>
                        </div>
</div>

                        <div class="form-check form-check-radio disabled">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="options" value="MultipleChoice" disabled>
                                Multiple Choice
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(currently not supported)</small>
                        </div>

                        <div class="form-check form-check-radio disabled">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="options" id="options" value="CustomOption" disabled>
                                Custom Options
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(currently not supported)</small>
                        </div>
                        <div class="messages text-danger font-weight-bold">{{optionsError}}</div>
                </div>
            </div>
            {{!-- <div class="row d-none">
                <div class="col-md-12">
                    <div class="form-group">
                    <input class="form-check-input" type="text" name="SurveyId" id="SurveyId" value={{id}} >
                    </div>
                </div>
            </div> --}}
        <div class="card-footer">
            <a href="/mysurveys/{{SurveySurveyId}}"><button type="button" class="btn btn-fill btn-sm btn-primary">Go to survey</button></a>
            <button type="submit" class="btn btn-fill btn-sm btn-primary float-right">Submit</button>
            {{!-- <button type="submit" class="btn btn-fill btn-sm btn-primary float-right">Save & Add New</button>            --}}
        </div>
        </form>
        </div>
    </div>
    </div>    
