    <div class="col-md-12">
    <div class="card">
        <div class="card-header">
        <h5 class="title">Add an item to your survey</h5>
        </div>
        <div class="card-body">
        <form id="newQuestionForm" action="/newQuestion/{{SurveySurveyId}}" method="POST">
        <div class="messages text-danger font-weight-bold">{{error}}</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Question</label>
                    <textarea id="question" name="question" rows="2" cols="8" class="form-control" placeholder=""></textarea>
                    <div class="messages text-danger font-weight-bold">{{questionError}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Options</label>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="optionType" id="options" value="YesNo" checked>
                                Yes/No
                                <span class="form-check-sign"></span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="optionType" id="options" value="TrueFalse" >
                                True/False
                                <span class="form-check-sign"></span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="optionType" id="options" value="ShortAnswer" >
                                Short Answer
                                <span class="form-check-sign"></span>
                            </label>
                        </div>

                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="optionType" id="options" value="LongAnswer" >
                                Long Answer
                                <span class="form-check-sign"></span>
                            </label>
                        </div>
                        
                        <div id="LikertOptionDiv" class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="optionType" id="LikertOption" value="Likert">
                                Likert-type
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scales)</small>
                        </div>

<div id="LikertMoreOptions" class="d-none">
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input LikertAgreement" type="radio" name="optionType" id="options" value="LikertAgreement">
                                Likert - Agreement
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scale: Strongly Agree to Strongly Disagree)</small>
                        </div>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="optionType" id="options" value="LikertQuality">
                                Likert - Quality
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scale: Very Good to Very Poor)</small>
                        </div>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="optionType" id="options" value="LikertValue">
                                Likert - Value
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scale: High to None.)</small>
                        </div>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="optionType" id="options" value="LikertFrequency">
                                Likert - Frequency
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scale: Very Frequently to Never)</small>
                        </div>
                        <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="optionType" id="options" value="LikertImportance">
                                Likert - Important
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(Scale: Very Important to Not Important)</small>
                        </div>
</div>

                        <div id="MultipleChoiceDiv" class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input MultipleChoiceOption" type="radio" name="optionType" id="MultipleChoiceOption" value="MultipleChoice">
                                Multiple Choice
                                <span class="form-check-sign"></span>
                            </label>
                        </div>

<div id="MultipleChoiceMoreOptions" class="d-none">
                        <small class="form-text text-muted">Choose from one of the options below.</small>
                        <div class="form-group">
                            <label for="option1">Option 1</label>
                            <input type="text" class="form-control MultipleChoiceInput MultipleChoiceOption1" name="option1" id="options" placeholder="option1">
                        </div>
                        <div class="form-group">
                            <label for="option2">Option 2</label>
                            <input type="text" class="form-control MultipleChoiceInput" name="option2" id="options" placeholder="option2">
                        </div>
                        <div class="form-group">
                            <label for="option3">Option 3</label>
                            <input type="text" class="form-control MultipleChoiceInput" name="option3" id="options" placeholder="option3">
                        </div>
                            <div class="form-group">
                            <label for="option4">Option 4</label>
                            <input type="text" class="form-control MultipleChoiceInput" name="option4" id="options" placeholder="option4">
                        </div>
</div>


                        <div class="form-check form-check-radio disabled">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="optionType" id="CustomOptions" value="CustomOption" disabled>
                                Custom Options
                                <span class="form-check-sign"></span>
                            </label>
                            <small class="form-text text-muted ml-3" style="display: unset;">(currently not supported)</small>
                        </div>
                        <div class="messages text-danger font-weight-bold">{{optionsError}}</div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                    <label>Instructions</label>
                    <input class="form-control" type="text" name="questionInstruction" id="questionInstruction" placeholder="If any, enter instructions for this item" >
                    </div>
                </div>
            </div>

        <div class="card-footer">
            <a href="/mysurveys/{{SurveySurveyId}}"><button type="button" class="btn btn-fill btn-sm btn-primary">Go to survey</button></a>
            <input type="submit" value="Finish" name="action" class="btn btn-fill btn-sm btn-primary float-right" />
            <button type="submit" class="btn btn-fill btn-sm btn-primary float-right mr-2">Save</button>
        </div>
        </form>
        </div>
    </div>
    </div>

    <script type="text/javascript">
        $(function () {
            survenaire.showNotification('top', 'right', 'Question Added');
        });
    </script>
