<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/init.png">
  <title>
    Surveneer
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/assets/css/Chart.min.css" rel="stylesheet" />
  <link href="/assets/css/datatables.min.css" rel="stylesheet" />
  <link href="/assets/css/selectize.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/assets/demo/demo.css" rel="stylesheet" />
  <link href="/assets/css/styles.css" rel="stylesheet" />
</head>
<body class="">
  <div class="wrapper">
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="/signin"><i class="tim-icons icon-chart-bar-32 mr-2"
                style="vertical-align: unset;"></i>Surveneer</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav-link"><a href="/signup" class="btn">Sign Up</a></li>
              <li class="nav-link"><a href="/signin" class="btn">Log in</a></li>
              <li class="nav-link"><a href="/login" class="btn">Auth0 Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="partial-content">
        <div class="container">
          <div class="row row-grid justify-content-between align-items-center">
            <div class="col-lg-6" style="z-index: 1;">
              <h3 class="display-2 text-white">SurvEnEEr
                {{!-- <span class="text-white">completed with examples</span> --}}
              </h3>
              <h5 class="display-3 text-white mb-3">Surveys, Quizzes, Questionnaires, Polls ....</h5>
              <h3 class="text-white">Get opinions, Get feedback, Get answers</h3>
              <div class="btn-wrapper">
                <a href="/signup" class="btn btn-info">Learn More</a>
              </div>
              <div class="btn-wrapper">
                <a href="#" data-toggle="modal" data-target="#subscribeModal" class="btn btn-info">Subscribe</a>
              </div>
            </div>
              {{{ body }}}
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>
            <a href="http://ttejuosho.herokuapp.com" target="_blank">Taiwo Tejuosho</a>
          </div>
        </div>
      </footer>



      <div id="subscribeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="col-md-10">
            <div class="modal-content">
            <div class="card mb-0">
                <div class="card-header"><h2 class="title mb-1">Subscribe</h2></div>
            <div class="card-body">
            <form action="/subscribe" id="subscribeForm" method="POST" novalidate>
              <fieldset>
                <div class="row">
                  <div class="col-md-12">
                    <div class="messages text-danger font-weight-bold">{{duplicateMessage}}</div>
                    <div class="form-group">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control mb-1" id="firstName" name="firstName" placeholder="First Name" value="{{firstName}}" required>
                      {{#if errors}}
                          {{#each errors}}
                              {{#ifEquals param "firstName"}}
                                  <div class="messages text-danger font-weight-bold">{{msg}}</div>
                              {{/ifEquals}}
                          {{/each}}
                      {{/if}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control mb-1" id="lastName" name="lastName" placeholder="Last Name" value="{{lastName}}" required>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "lastName"}} 
                                <div class="messages text-danger font-weight-bold">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="email">Email Address</label>
                      <input type="email" class="form-control mb-1" id="email" name="email" placeholder="ty@surveneer.com" value="{{email}}" required>
                    {{#if errors}}
                        {{#each errors}}
                            {{#ifEquals param "email"}} 
                                <div class="messages text-danger font-weight-bold">{{msg}}</div>
                            {{/ifEquals}}
                        {{/each}}
                    {{/if}}
                    </div>
                  </div>
                </div>

                <button type="submit" class="btn btn-sm btn-fill btn-primary float-right">Subscribe</button>
                <button type="button" class="btn btn-sm btn-fill btn-primary float-right mr-2" onclick="resetModal()">Cancel</button>
              </fieldset>
            </form>

          </div>
        </div>
      </div>
</div>
      </div>
      </div>

    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="/assets/js/core/jquery.min.js"></script>
  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/assets/js/black-dashboard.min.js?v=1.0.0"></script>
  <script type="text/javascript" src="/assets/js/selectize.js"></script>
  {{!-- <script type="text/javascript" src="/assets/js/Chart.min.js"></script> --}}
  <script type="text/javascript" src="/assets/js/DataTables/datatables.min.js"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="/assets/demo/demo.js"></script>
  {{!-- <script type="text/javascript" src="/assets/js/black-dashboard.min.js?v=1.0.0"></script> --}}
  <script type="text/javascript" src="/assets/js/app.js"></script>

  <script type="text/javascript">
    function resetModal(){
      $("#subscribeModal").modal('hide');
      $('.messages').text('');
      $('#subscribeForm')[0].reset();
    }

    $('#subscribeForm').on('submit', ()=>{
      $("#subscribeModal").modal('hide');
      survenaire.showNotification('success', 'top', 'right', 'You\'re subcribed');
    });
  </script>
  {{#if errors}}
    <script type="text/javascript">
      $(function () {
          $("#subscribeModal").modal({
              backdrop: false,
              show: true
          });
      });
    </script>
  {{/if}}
  {{#if title}}
    <script type="text/javascript">
      $(function () {
        console.log('OPEN Fudlkj')
          $("#subscribeModal").modal({
              backdrop: false,
              show: false
          });
      });
    </script>
  {{/if}}
  {{#if duplicate}}
    <script type="text/javascript">
      $(function () {
        console.log('Duplicate Email');
          $("#subscribeModal").modal({
              backdrop: false,
              show: true
          });
      });
    </script>
  {{/if}}
</body>

</html>